<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator twenty-third"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="none">
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>
			
			<div class="directory management">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="middle">
				<ul>
					<li><%= link_to('Scott Leake', '/staff/scott-leake') %></li>
				</ul>
			</nav>
			
			<div class="directory staff">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="staff">
				<ul>
					<li><%= link_to('Patricia Bartow', '/staff/patricia-bartow') %></li>
					<li><%= link_to('Patti Drobot', '/staff/patti-drobot') %></li>
					<li><%= link_to('John W. Dytyniak', '/staff/john-dytyniak') %></li>
					<li><%= link_to('Keith Lenard', '/staff/keith-lenard') %></li>
					<li><%= link_to('Jill Lilly', '/staff/jill-lilly') %></li>
					<li><%= link_to('Cheri Oates', '/staff/cheri-oates') %></li>
					<li><%= link_to('Brenda Presson', '/staff/brenda-presson') %></li>
					<li><%= link_to('Ann Shaw', '/staff/ann-shaw') %></li>
					<li><%= link_to('Lori Syc', '/staff/lori-syc') %></li>
					<li><%= link_to('Karen Zurbo-Miller', '/staff/karen-zurbo-miller') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Our Staff</h1>
			
			<h2>Karen Zurbo-Miller - Legal Assistant to Mr. Pentiuk, Ms. Knoch &amp; Mr. Morgan</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/karen-zurbo-miller.jpg', :alt => 'Karen Zurbo Miller at PCK Law Firm', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('kmiller@pck-law.com', 'kmiller@pck-law.com') %> | Phone: (734) 281-7100 ext. 119</h5>
				
				<h4 class="law">COLLEGE</h4>
				<h5>Henry Ford Community College</br>
					- AS in Paralegal Field, Magna Cum</h5>
				
				<h4>LEGAL PROFESSIONAL &amp; ORGANIZATIONS</h4>
				<h5>30+ Years of Legal Assistant Work Experience</h5>
				
				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
						<li>Civil Litigation</li>
						<li>Labor &amp; Employment Matters</li>
						<li>Litigation Aspects in all Court Levels</li>
						<li>State and Local Property Taxation</li>
					</ul>
			</div>
			
			<div class="cb"></div>
			
			<p>Karen Zurbo-Miller has 30 years of experience with the majority of concentration in civil litigation and labor/employment matters. Her experience consists of extensive involvement in all aspects of litigation, in all courts at the State and Federal levels, as well as preparing for and assisting at trials and arbitrations. Mrs. Miller also has an Associates Degree in the paralegal field and graduated with honors.</p>

			<p>Mrs. Miller's extensive experience and education allows her to work closely with attorneys as well as independently, to ensure that your case receives the attention to detail it deserves.</p>
		</div>
	</div>
</div>