<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator seventeenth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="none">
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>
			
			<div class="directory management">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="middle">
				<ul>
					<li><%= link_to('Scott Leake', '/staff/scott-leake') %></li>
				</ul>
			</nav>
			
			<div class="directory staff">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="staff">
				<ul>
					<li><%= link_to('Patricia Bartow', '/staff/patricia-bartow') %></li>
					<li><%= link_to('Patti Drobot', '/staff/patti-drobot') %></li>
					<li><%= link_to('John W. Dytyniak', '/staff/john-dytyniak') %></li>
					<li><%= link_to('Keith Lenard', '/staff/keith-lenard') %></li>
					<li><%= link_to('Jill Lilly', '/staff/jill-lilly') %></li>
					<li><%= link_to('Cheri Oates', '/staff/cheri-oates') %></li>
					<li><%= link_to('Brenda Presson', '/staff/brenda-presson') %></li>
					<li><%= link_to('Ann Shaw', '/staff/ann-shaw') %></li>
					<li><%= link_to('Lori Syc', '/staff/lori-syc') %></li>
					<li><%= link_to('Karen Zurbo-Miller', '/staff/karen-zurbo-miller') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Our Staff</h1>
			
			<h2>Keith Lenard – Administrative Assistant</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/keith-lenard.jpg', :alt => 'Keith Lenard Miller at PCK Law Firm', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('klenard@pck-law.com', 'klenard@pck-law.com') %> | Phone: (734) 281-7100 ext. 100</h5>
				
				<h4 class="law">COLLEGE</h4>
				<h5>Ashland Theological Seminary</br>
					- M. Div. expected graduation 2014</br>
					
					University of Michigan-Dearborn</br>
					- B.A. in Political Science and Criminal Justice</h5>
					
				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
						<li>Civil Litigation</li>
						<li>Labor &amp; Employment Matters</li>
						<li>Litigation Aspects in all Court Levels</li>
						<li>State and Local Property Taxation</li>
					</ul>
			</div>
			
			<div class="cb"></div>
			
			<p>Since September of 2008, Keith Lenard has been a legal clerk at Pentiuk Couvreur &amp; Kobiljak, P.C. Keith handles archiving files, assisting the legal assistants with court filings and conducting a variety of research for the firm. Keith was working as an intern at a law firm in Detroit prior to joining the PCK staff.</p>

			<p>Mr. Lenard is currently enrolled at The University of Michigan-Dearborn pursuing a B.A. in Political Science and Criminal Justice, with minors in History and Philosophy. Keith is a founding member of Phi Sigma Phi National Fraternity Epsilon Lambda Chapter; a current member of the Inter-varsity Christian Fellowship and a former vice president of the Greek Leadership Counsel. He was also a board member of the Political Science Club.</p>

			<p>Keith enjoys contributing his spare time to a variety of local charities, including mentoring at the Detroit Behavioral Institute, participating in the Detroit Polar Plunge for Special Olympics, the Detroit Zoo Walk for Alzheimer's, and other community services. During his years at UM-D he has been awarded the Fraternity Man of the Year in 2009, the Greek Leadership Council Involvement Award 2009, the Leadership Synergy Award 2009 and Mr. UMD 2008.</p>

			<p>After completing his undergraduate degree in April of 2010, Keith plans on attending law school and becoming an attorney with an interest in political office.</p>
		</div>
	</div>
</div>