<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator twenty-second"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="none">
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>
			
			<div class="directory management">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="middle">
				<ul>
					<li><%= link_to('Scott Leake', '/staff/scott-leake') %></li>
				</ul>
			</nav>
			
			<div class="directory staff">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="staff">
				<ul>
					<li><%= link_to('Patricia Bartow', '/staff/patricia-bartow') %></li>
					<li><%= link_to('Patti Drobot', '/staff/patti-drobot') %></li>
					<li><%= link_to('John W. Dytyniak', '/staff/john-dytyniak') %></li>
					<li><%= link_to('Keith Lenard', '/staff/keith-lenard') %></li>
					<li><%= link_to('Jill Lilly', '/staff/jill-lilly') %></li>
					<li><%= link_to('Cheri Oates', '/staff/cheri-oates') %></li>
					<li><%= link_to('Brenda Presson', '/staff/brenda-presson') %></li>
					<li><%= link_to('Ann Shaw', '/staff/ann-shaw') %></li>
					<li><%= link_to('Lori Syc', '/staff/lori-syc') %></li>
					<li><%= link_to('Karen Zurbo-Miller', '/staff/karen-zurbo-miller') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Our Staff</h1>
			
			<h2>Lori Syc - Legal Assistant to Mr. Couvreur</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/lori-syc.jpg', :alt => 'Lori Syc at PCK Law Firm', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('lsyc@pck-law.com', 'lsyc@pck-law.com') %> | Phone: (734) 281-7100 ext. 120</h5>
				
				<h4 class="law">COLLEGE</h4>
				<h5>Henry Ford Community College</h5>
				
				<h4>LEGAL PROFESSIONAL &amp; ORGANIZATIONS</h4>
				<h5>30+ Years of Legal Assistant Work Experience</h5>
				
				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
						<li>Estate Planning</li>
						<li>Probate Matters</li>
						<li>Municipalities</li>
						<li>Collection</li>
						<li>Small Business, Corporation Setup</li>
						<li>Cooperative housing</li>
					</ul>
			</div>
			
			<div class="cb"></div>
			
			<p>Lori Syc has been with Pentiuk, Couvreur &amp; Kobiljak since March, 2003. She is the legal assistant to Joseph Couvreur. Prior to joining the firm, Lori worked for a large, Detroit law firm in their litigation department. She has been working in the legal field for nearly thirty years and has knowledge with estate planning, probate matters, municipalities, collection, small business/corporation setup and cooperative housing as well.</p> 
			
			<p>Lori recently moved to the City of Gibraltar, but still calls Wyandotte home. She has two children both in college and in her spare time enjoys being a mother to them, cooking, walking, gardening and living life to its fullest.</p>
		</div>
	</div>
</div>