<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator fourteenth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="none">
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>
			
			<div class="directory management">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="middle">
				<ul>
					<li><%= link_to('Scott Leake', '/staff/scott-leake') %></li>
				</ul>
			</nav>
			
			<div class="directory staff">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="staff">
				<ul>
					<li><%= link_to('Patricia Bartow', '/staff/patricia-bartow') %></li>
					<li><%= link_to('Patti Drobot', '/staff/patti-drobot') %></li>
					<li><%= link_to('John W. Dytyniak', '/staff/john-dytyniak') %></li>
					<li><%= link_to('Keith Lenard', '/staff/keith-lenard') %></li>
					<li><%= link_to('Jill Lilly', '/staff/jill-lilly') %></li>
					<li><%= link_to('Cheri Oates', '/staff/cheri-oates') %></li>
					<li><%= link_to('Brenda Presson', '/staff/brenda-presson') %></li>
					<li><%= link_to('Ann Shaw', '/staff/ann-shaw') %></li>
					<li><%= link_to('Lori Syc', '/staff/lori-syc') %></li>
					<li><%= link_to('Karen Zurbo-Miller', '/staff/karen-zurbo-miller') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Our Staff</h1>
			
			<h2>Patricia Bartow – Primary Legal Assistant for Mr. Pentiuk</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/patricia-bartow.jpg', :alt => 'Patricia Bartow at PCK Law Firm', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('pbartow@pck-law.com', 'pbartow@pck-law.com') %> | Phone: (734) 281-7100 ext. 114</h5>
				
				<h4 class="law">LEGAL PROFESSIONAL</h4>
				<h5>15+ Years of Work Experience</h5>
				
				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
						<li>Municipalities</li>
						<li>Housing Cooperatives</li>
						<li>Condominiums</li>
						<li>Complex Litigations</li>
						<li>Collections</li>
						<li>Estate Planning</li>
						<li>Probate &amp; Small Business, Corporation</li>
					</ul>
			</div>
			
			<div class="cb"></div>
			
			<p>Patricia Bartow joined Pentiuk, Couvreur and Kobiljak in 1999 and works as Mr. Pentiuk’s primary legal assistant. Ms. Bartow has been working in the legal profession for fifteen years and has experience and vast knowledge of municipalities, housing cooperatives, condominiums, complex litigation, collections, estate planning, probate and small business/corporation set up as well. Ms. Bartow maintains an excellent rapport with clients and is always available on a daily basis to provide prompt and reliable assistance.</p>
		</div>
	</div>
</div>