<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator eighth"></div>
		
		<div class="sidebar mid">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="none">
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>
			
			<div class="directory staff">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="staff">
				<ul>
					<li><%= link_to('Patricia Bartown', '/staff/patricia-bartown') %></li>
					<li><%= link_to('Patti Drobot', '/staff/patti-drobot') %></li>
					<li><%= link_to('Scott Leake', '/staff/scott-leake') %></li>
					<li><%= link_to('Keith Lenard', '/staff/keith-lenard') %></li>
					<li><%= link_to('Jill Lilly', '/staff/jill-lilly') %></li>
					<li><%= link_to('Cheri Oates', '/staff/cheri-oates') %></li>
					<li><%= link_to('Brenda Presson', '/staff/brenda-presson') %></li>
					<li><%= link_to('Ann Shaw', '/staff/ann-shaw') %></li>
					<li><%= link_to('Lori Syc', '/staff/lori-syc') %></li>
					<li><%= link_to('Karen Zurbo-Miller', '/staff/karen-zurbo-miller') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Attorneys</h1>
			
			<h2>April Knoch- Associate Attorney</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/april-knoch.jpg', :alt => 'April Knoch Attorney at PCK Law', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('aknoch@pck-law.com', 'aknoch@pck-law.com') %> | Phone: (734) 281-7100 ext. 121</h5>
				
				<h4 class="law">ADMISSIONS</h4>
				<h5>Practice in Michigan and Illinois</h5>
				
				<h4>LAW SCHOOL</h4>
				<h5>Michigan State University College of Law, J.D.</h5>

				<h4>COLLEGE</h4>
				<h5>University of Michigan-Dearborn</br>
				- B.A in Psychology | Sociology Minor</h5>
				
				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
			   			<li>General Practice</li>
			   			<li>Civil litigation in Landlord &amp; Tenant Law</li>
			   			<li>Community Housing Associations</li>
			   			<li>Condominium Law and Collection Law</li>
					</ul>
			</div>
			
			<div class="cb"></div>
			
			<p>April Knoch is an Associate Attorney with Pentiuk, Couvreur &amp; Kobiljak, P.C. She is involved in General Practice with an emphasis on civil litigation in Landlord &amp; Tenant Law, Community Housing Associations, Condominium Law and Collection Law.</p>

			<p>Prior to joining Pentiuk, Couvreur &amp; Kobiljak, Ms. Knoch clerked for the Honorable John E. McDonald, Chief Judge for the 35th District Court of Michigan. She later went on to work for a small law firm in Inkster, Michigan where she practiced general civil litigation and debtor bankruptcy.</p>

			<p>Ms. Knoch attended the University of Michigan-Dearborn and graduated from the College of Arts, Sciences and Letters with a Bachelors degree in Psychology and a Minor in Sociology. During her study at U-M Dearborn, she was an associate member of the Biological Honor Society and participated in the Honor’s Psychology program.</p>

			<p>She then attended Michigan State University College of Law and received her Juris Doctor in 2001. During her study at MSU, she was involved with numerous functions including a student representative for the MSU/DCL Student Government and she was the Justice and Vice Justice for the Phi Alpha Delta, Hubert Humphrey Chapter. She also was enrolled with the MSU/DCL Rental Housing Clinic Program, where she served as legal counsel to university students. During her involvement with the Rental Housing Clinic, she and a team of fellow clinicians prepared and tried a jury trial for MSU student tenants. Ms. Knoch is now currently seeking her Masters in Taxation from Wayne State University College of Law.</p>

			<p>Ms. Knoch is a member of the State Bar of Michigan, the Federal Bar Association and a Lifetime Member of the MSU/DCL Alumni Association.</p>
			
			<h3>Experience</h3>
			<ul>
				<li>Michigan State and Federal Court</li> 
				<li>Motion Practice / Litigation</li> 
				<li>Collection Law</li> 
				<li>Landlord / Tenant</li> 
			</ul>
			
			<ul>
				<li>Municipal Law</li> 
				<li>Probate Law</li> 
				<li>Taxation</li>
				<li>Criminal Law</li>
			</ul>
		</div>
	</div>
</div>