<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator eighth"></div>
		
		<div class="sidebar mid">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Attorneys</h1>
			
			<h2>Brittny K. Harris - Attorney at Law</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/april-knoch.jpg', :alt => 'Brittny Harris Attorney at PCK Law', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('bharris@pck-law.com', 'bharris@pck-law.com') %> | Phone: (734) 281-7100 ext. (?)</h5>
				
				<h4 class="law">LAW SCHOOL</h4>
				<h5>Michigan State University College of Law, J.D. 2001</h5>

				<h4>COLLEGE</h4>
				<h5>University of Michigan-Dearborn</br>
				- B.A in Psychology | Sociology Minor</h5>
				
				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
			   			<li>General Practice</li>
					</ul>
			</div>
			
			<div class="cb"></div>
			
			<p>Needs Bio</p>
		</div>
	</div>
</div>