<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator seventh"></div>
		
		<div class="sidebar mid">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Attorneys</h1>
			
			<h2>Creighton D. Gallup- Attorney at Law</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/creighton-d-gallup.jpg', :alt => 'Creighton Gallup Attorney at PCK Law', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('cgallup@pck-law.com', 'cgallup@pck-law.com') %> | Phone: (734) 281-7100 ext. 108</h5>
				
				<h4 class="law">LAW SCHOOL</h4>
				<h5>Detroit College of Law, J.D.</h5>

				<h4>COLLEGE</h4>
				<h5>Michigan State University</br>
				- B.S. International Relations | Foreign Language</h5>
				
				<h4>LANGUAGES</h4>
				<h5>English | Russian | Japanese</h5>

				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
						<li>General Practice</li>
					</ul> 
			</div>

			<div class="cb"></div>
			
			<p>Creighton Gallup is a Partner with Pentiuk, Couvreur &amp; Kobiljak, P.C. He is involved in general practice with an emphasis on representing businesses, housing cooperatives, governmental entities, and financial institutions. He focuses on civil litigation including landlord/tenant, divorce and family law, collection and employment law.</p>

			<p>Prior to joining Pentiuk, Couvreur &amp; Kobiljak, Mr. Gallup worked at a small law firm in Plymouth, Michigan where he practiced both civil and criminal litigation.</p>

			<p>Mr. Gallup attended Michigan State University and in 1996 received, from the <%= link_to('James Madison College of MSU', 'http://jmc.msu.edu/', :target => '_blank') %>, his Bachelors degree in International Relations with an emphasis on Foreign Language, particularly Russian and Japanese. After graduation, he continued to study Japanese, studying at the <%= link_to('Japan Center for Michigan Universities', 'http://www.isp.msu.edu/jcmu/', :target => '_blank') %> in Hikone, Japan, where Mr. Gallup earned an advanced degree in Japanese Language and Culture.</p>

			<p>Upon returning to the states, Mr. Gallup graduated from Michigan State University - Detroit College of Law. As a student, he clerked for the Honorable Richard Suhrheinrich of the 6th Circuit Federal Court of Appeals, as well as interning with the MSU-DCL Rental Housing Clinic. There he was able to gain valuable experience in landlord/tenant law. Mr. Gallup was admitted to the Federal Bar in 2004 and is also a member of the State Bar of Michigan, the Downriver Bar Association, the MSU-DCL Downriver Alumni Association, <%= link_to('Polish Roman Catholic Union of America PRCUA', 'http://www.prcua.org/', :target => '_blank') %>, and the Wayne County Family Bar Association. He has also completed Leadership 21, been recognized by Who’s Who, remained an active member of the S.W.C.R.C as an ambassador (2008-2010), and continues to further his legal education by seeking his Family Law Certification.</p>
		</div>
	</div>
</div>