<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator third"></div>
		
		<div class="sidebar mid">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="none">
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>

			<div class="directory staff">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="staff">
				<ul>
					<li><%= link_to('Patricia Bartown', '/staff/patricia-bartown') %></li>
					<li><%= link_to('Patti Drobot', '/staff/patti-drobot') %></li>
					<li><%= link_to('Scott Leake', '/staff/scott-leake') %></li>
					<li><%= link_to('Keith Lenard', '/staff/keith-lenard') %></li>
					<li><%= link_to('Jill Lilly', '/staff/jill-lilly') %></li>
					<li><%= link_to('Cheri Oates', '/staff/cheri-oates') %></li>
					<li><%= link_to('Brenda Presson', '/staff/brenda-presson') %></li>
					<li><%= link_to('Ann Shaw', '/staff/ann-shaw') %></li>
					<li><%= link_to('Lori Syc', '/staff/lori-syc') %></li>
					<li><%= link_to('Karen Zurbo-Miller', '/staff/karen-zurbo-miller') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Attorneys</h1>
			
			<h2>Joseph G. Couvreur - Shareholder</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/joseph-couvreur.jpg', :alt => 'Joseph Couvreur Shareholder and Attorney at PCK Law', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('jcouvreur@pck-law.com', 'jcouvreur@pck-law.com') %> | Phone: (734) 281-7100 ext. 106</h5>
				
				<h4 class="law">ADMISSIONS</h4>
				<h5>Practice in Michigan</h5>

				<h4>LAW SCHOOL</h4>
				<h5>Juris Doctorate, Wayne State University</h5>

				<h4>COLLEGE</h4>
				<h5>Wayne State University’s</br>
				-  B.A. Public Administration</h5>
			
				<h4>AREAS OF PRACTICE</h4>
				<ul class="practice">
					<li>Estate Planning</li>
					<li>Finance &amp; Real Estate</li>
					<li>General Civil</li>
					<li>Municipal</li>
					<li>Probate</li>
				</ul>
			</div>
						
			<div class="cb"></div>
			
			<p>Joseph G. Couvreur, has been a shareholder since 1989 with Randall A. Pentiuk and Kurt M. Kobiljak at the firm of Pentiuk, Couvreur, &amp; Kobiljak, P.C. He has been with the firm since its inception. Joseph is lead attorney on business and estate planning matters at Pentiuk, Couvreur, &amp; Kobiljak, P.C. He advises business owners regarding all types of business matters including financing, employment and transactional matters. He handles the preparation of estate planning documents, which are drafted to minimize or avoid probate proceedings. He also handles probate estates through various procedures whenever probate is necessary.</p>

			<p>Joseph Couvreur works closely with Randall A. Pentiuk in matters involving municipalities and government related development organizations. He is a Prosecutor for City of <%= link_to('City of Melvindale', 'http://www.melvindale.org/', :target => '_blank') %> and an Assistant Corporation Counsel for the City of Melvindale from 1991 to 2011. His duties include real estate transactions, zoning and building code enforcement, prosecution of misdemeanors and traffic offenses.</p>
			
			<p>Joseph has worked with municipal Downtown Development Authorities and Economic Development Corporations to carry out economic growth and revitalization projects to strengthen communities. He has worked with non-profit associations such as cooperatives and housing authorities, advising the governing boards, negotiating and drafting contracts, obtaining and facilitating financing and assisting such entities to follow the dictates of the entities governing documents and applicable laws. Also, he worked closely with cooperatives to obtain refinancing and when necessary approval from the Department of Housing and Urban Development.</p>

			<p>A lifetime resident of the <%= link_to('Detroit area,', 'http://www.detroitmi.gov/', :target => '_blank')%> Joseph residing for most of his life in <%= link_to('Allen Park.', 'http://www.cityofallenpark.org/', :target => '_blank') %> His community-minded outlook, which started while attending law school. Lead him to the Board of Directors of a Free Legal Aid Clinic, which provided free legal services to those unable to provide for themselves. With a bachelor's degree in public administration with a concentration in public policy analysis from <%= link_to('Wayne State University.', 'http://wayne.edu/', :target => '_blank') %> He graduated from Wayne State Law School in 1988. One year later, he joined with <%=link_to('Randall A. Pentiuk', 'attorneys/randall-pentiuk', :target => '_blank') %> to start an employment relationship that would continue into what we now know as Pentiuk, Couvreur, &amp; Kobiljak, P.C.</p> 
			
			<p>Currently, he is active in Downriver Community Christian Church, serving as a Sunday School teacher. He has provided legal services to Christ Net, a non-profit homeless shelter. Mr. Couvreur was the former director of Grateful Home, a shelter for battered women and children in Detroit. The work of Grateful Home in providing shelter and education for women and children continues to be provided by the Detroit Rescue Mission Ministries. He has also conducted numerous legal seminars on topics such as the Freedom of Information Act and Estate Planning. He also serves on the <%= link_to('Southern Wayne County Chamber of Commerce Board', 'http://www.swcrc.com/', :target=> "_blank") %> and graduated from Vision 21.</p>
			
			<h3>Law practice Emphasis</h3>
				<ul class="full">
					<li>Representing Businesses</li>
					<li>Governmental Entities</li> 
					<li>Financial Institutions</li> 
					<li>Non-profit and Ecclesiastical Corporations</li>
					<li>Estate Planning</li> 
					<li>Corporate Law</li>
					<li>Real Estate Transactions</li>
				</ul>
		</div>
	</div>
</div>