<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator fifth"></div>
		
		<div class="sidebar mid">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="none">
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>

			<div class="directory staff">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="staff">
				<ul>
					<li><%= link_to('Patricia Bartown', '/staff/patricia-bartown') %></li>
					<li><%= link_to('Patti Drobot', '/staff/patti-drobot') %></li>
					<li><%= link_to('Scott Leake', '/staff/scott-leake') %></li>
					<li><%= link_to('Keith Lenard', '/staff/keith-lenard') %></li>
					<li><%= link_to('Jill Lilly', '/staff/jill-lilly') %></li>
					<li><%= link_to('Cheri Oates', '/staff/cheri-oates') %></li>
					<li><%= link_to('Brenda Presson', '/staff/brenda-presson') %></li>
					<li><%= link_to('Ann Shaw', '/staff/ann-shaw') %></li>
					<li><%= link_to('Lori Syc', '/staff/lori-syc') %></li>
					<li><%= link_to('Karen Zurbo-Miller', '/staff/karen-zurbo-miller') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Attorneys</h1>
			
			<h2>Kerry Lee Morgan- Of Counsel</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/kerry-lee-morgan.jpg', :alt => 'Kerry Lee Morgan Attorney at PCK Law', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('kmorgan@pck-law.com', 'kmorgan@pck-law.com') %> | Phone: (734) 281-7100 ext. 103</h5>
				
				<h4 class="law">ADMISSIONS</h4>
				<h5>Practice in Michigan Washington D.C.and Virginia</h5>
				
				<h4>LAW SCHOOL</h4>
				<h5>Detroit College of Law, J.D.</h5>

				<h4>COLLEGE</h4>
				<h5>Regent University</br> 
				- M.A. Public Policy, Magna Cum Laude</h5>

				<h5>Michigan State University</br>
				- B.A. Political Science &am; Criminal Justice, Honors</h5>


				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
						<li>Constitutional Law</li>
						<li>Education Law</li>
						<li>Employment Discrimination</li>
						<li>Employment Law and Litigation</li>
					</ul> 	
			</div>

			<ul class="practice right">
				<li>Environmental Law</li>
				<li>Federal Firearms Law</li>
				<li>Municipal Law</li>
			</ul>
			
			<div class="cb"></div>
			
			<p>With over 30 years experience providing legal counsel to Federal, Municipal and corporate clients in a legal and regulatory environment, Mr. Morgan has developed a broad and diverse legal background. Along the way he has become a compelling writer and discerning researcher with key ability to predict risk and long term impact of legal decisions and litigation. This ability helps reduce costs by accurately prediction likely range of outcomes.</p>

			<p>Currently "Of Counsel" to Pentiuk, Couvreur, &amp; Kobiljak, P.C., his chief areas of practice involve municipal law, employment discrimination, environmental law and educational policy. Prior to his current legal affiliation, he served as an Attorney-Advisor with the <%= link_to('United States Commission on Civil Rights', 'http://www.civilrights.org/enforcement/commission/', :target => '_blank') %> in Washington D.C.</p>

			<p>In addition to practicing law since 1980, Mr. Morgan received his Masters of Arts, magna cum laude, in Public Policy from <%= link_to('Regent University.', 'http://www.regent.edu/', :target => '_blank') %> He has also written a number of thought-provoking articles in the areas of natural law and unalienable rights. He researched and wrote an extensive legal review of religious liberty principles and Supreme Court cases titled, <%= link_to('“Unalienable Rights, Equality and The Free Exercise of Religion.”', 'http://www.lonang.com/conlaw/7/c71f.htm', :target => '_blank')%></p>

			<p>A published author as well, <%= link_to('University Press of America', 'https://rowman.com/Imprint/UPA', :target => '_blank') %> published his book, <%= link_to('Real Choice, Real Freedom in American Education,', 'http://www.ocpathink.org/articles/388', :target => '_blank') %> a scholarly work that articulates the legal and Constitutional case for parental rights and against governmental control of American Education. What to learn more, <%= link_to('get your copy here.', 'http://www.amazon.com/exec/obidos/ASIN/076180854X/oklahomacouncilo', :target => '_blank') %></p>

			<p>He soon plans to release an Inquiry into the Constitutional principles of nullification combined with principles of liberty grounded in the law of nature and the Declaration of Independence.</p>

			<p>In his spare time he volunteers as legal advisor to COVE, a homeschooling association of parents and teachers dedicated to advancing the rights of parents in regard to the education and upbringing of their own children free from state regulation and control. A former machine gun dealer, Mr. Morgan also enjoys the shooting sports and has provided legal counsel to owners and dealers alike.</p>
		</div>
	</div>
</div>