<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator sixth"></div>
		
		<div class="sidebar mid">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Attorneys</h1>
			
			<h2>Michael P. Hurley - Attorney at Law</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/michael-p-hurley.jpg', :alt => 'Michael P. Hurley Attorney at PCK Law', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('mhurley@pck-law.com', 'mhurley@pck-law.com') %> | Phone: (734) 281-7100 ext. 107</h5>
				
				<h4 class="law">ADMISSIONS</h4>
				<h5>Practice in Michigan</h5>
				
				<h4>LAW SCHOOL</h4>
				<h5>Thomas Cooley Law School, J.D. with Distinction 1984</h5>

				<h4>COLLEGE</h4>
						
				<h5>Wayne State University</br> 
				- History 1980</h5>

				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
						<li>General Business</li>
					</ul> 
			</div>
			
			<div class="cb"></div>
			
				<p>Kurt Kobiljak joined Pentiuk, Couvreur and Kobiljak in 1991, and became a shareholder in 1996. His specialties include business and creditor disputes. He is the corporation counsel for a number of statewide Credit Unions and Banks, with an emphasis on collections, bankruptcy, and policy facilitation matters. Mr. Kobiljak also represents numerous condominium associations, a business clientele that includes property management companies, physicians, dentists and automotive dealers.</p>

				<p>Embodying the firm’s community-wide scope, Kurt’s expert legal knowledge is buttressed by his active involvement in the Downriver community: served as Grosse Ile Township Supervisor 2004-2008, founder of numerous philanthropic organizations, and volunteer on a number of boards and local associations. A lifetime resident of Grosse Ile Michigan, Kurt is married to Kristen Kobiljak, an elementary school teacher in Wyandotte, Michigan, and has three children, Katie, Stefan and Hayden.</p>
		</div>
	</div>
</div>