<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator second"></div>
		
		<div class="sidebar mid">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Attorneys</h1>
			
			<h2>Randall A. Pentiuk- Managing Shareholder</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/randall-a-pentiuk.jpg', :alt => 'Randall Pentiuk Managing Shareholder Attorney at PCK Law', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('rpentiuk@pck-law.com', 'rpentiuk@pck-law.com') %> | Phone: (734) 281-7100 ext. 105</h5>
				
				<h4 class="law">LAW SCHOOL</h4>
				<h5>Detroit College of Law 1989, Detroit Michigan</h5>

				<h4>COLLEGE</h4>
				<h5>Wayne State University, Detroit Michigan</br>
				- School of Business Administration</h5>

				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
						<li>General Practice</li>
					</ul>
			</div>
			
			<div class="cb"></div>
			
			<p>Randall Pentiuk founded Pentiuk, Couvreur &amp; Kobiljak in 1989 and has built it into Downriver's premier law firm. He is engaged in general practice with primary emphasis in representing municipalities and local units of government, community associations such as cooperatives and condominiums, nonprofit and business corporations, and professionals. Much of his practice involves civil litigation in state and federal courts at all levels.</p>
			
			<p>A Magna Cum Laude graduate of the Detroit College of Law in 1981, he graduated third in his class and served as an editor on Law Review. His undergraduate degree was awarded with distinction from Wayne State University's School of Business Administration where he majored in Accounting. He served as a Research Attorney in the Michigan Court of Appeals before entering private practice.</p>
			
			<p>Mr. Pentiuk serves as City Attorney for the <%= link_to('City of Riverview', 'http://www.cityofriverview.com/', :target => '_blank') %>, Corporation Counsel for the <%= link_to('City of Melvindale', 'http://www.melvindale.org/' ,:target => '_blank') %> and General Counsel for the <%= link_to('Charter Township of Royal Oak', 'http://www.royaloaktwp.com/', :target => '_blank') %>. He is also legal counsel for the Downriver Community Conference and the Downriver Mutual Aid. He is a member of the State Bar of Michigan and the District of Columbia Bar. He is admitted to practice in all levels of the federal court system, including the U.S. Supreme Court. Among his professional memberships are: the <%= link_to('American Bar Association (ABA)', 'http://www.americanbar.org/aba.html', :target => '_blank') %>, the <%= link_to('International Municipal Lawyers Association (IMLA) Committee for Legislative Advocacy', 'http://www.imla.org/', :target => '_blank') %>, and the <%= link_to('Municipal Attorneys of Michigan Association (MAMA)', 'http://www.mml.org/mama/mama_charter.htm', :target => '_blank') %>. Mr. Pentiuk is also on the boards of the <%= link_to('Midwest Association of Housing Cooperatives (MAHC)', 'http://www.mahc.coop/', :target => '_blank') %> and the <%= link_to('National Association of Housing Cooperatives (NAHC)', 'http://www.coophousing.org/', :target => '_blank') %>. He co-founded the Future of Cooperative Housing for the purpose of training housing cooperative boards. He received the "C. March Miller II Award" in 2007 from the President of MAHC for outstanding service of a Board Member. Mr. Pentiuk is a member of the <%= link_to('Christian Legal Society', 'http://www.clsnet.org/', :target => '_blank') %> and a member of <%= link_to('UCOM', 'http://www.ucomonline.org/', :target => '_blank') %> (United Condominium Owners of Michigan).</p>
			
			<p>His publications include the "Survey of Recent Decisions on Federalism" for the IMLA Federalism Committee Report to the 1998 Convention; "Evidence" for the Annual Survey of Sixth Circuit Law, 1983 Det. Coll. L. Rev 405 (1983); and "First National Bank of Boston v Bellotti: The Constitution Guarantees Free Speech for Corporations", 1979 Det. Coll. L. Rev. 545 (1979). He is a frequent speaker at conferences on housing law matters such as civil rights, fair housing act amendments, sexual harassment, and also authors articles on these topics. He has been named a "Michigan Super Lawyer", a recognition awarded to the top 5% of Michigan attorneys. Mr. Pentiuk has been included in the 2007/2008 edition of "Cambridge Who's Who Among Executives and Professionals" and the 2008 edition of "Marquis Who's Who In America."</p>
			
			<p>Active in community affairs, Mr. Pentiuk serves as Chairman of the Board for the <%= link_to('Detroit Rescue Mission Ministry', 'http://www.drmm.org/', :target => '_blank') %>, the nation's largest such ministry. He is also on the Board of the Michigan Chapter of <%= link_to('Volunteers of America', 'http://www.voa.org/', :target => '_blank') %>. He is President of the Detroit Shelter for the Homeless, and helped found Promise Village Home for Children. Mr. Pentiuk, his wife Cyntheia and their daughter reside in Riverview, Michigan.</p>


		</div>
	</div>
</div>