<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator second"></div>
		
		<div class="sidebar mid">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="none">
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>
			
			<div class="directory management">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="middle">
				<ul>
					<li><%= link_to('Scott Leake', '/staff/scott-leake') %></li>
				</ul>
			</nav>
			
			<div class="directory staff">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="staff">
				<ul>
					<li><%= link_to('Patricia Bartow', '/staff/patricia-bartow') %></li>
					<li><%= link_to('Patti Drobot', '/staff/patti-drobot') %></li>
					<li><%= link_to('John W. Dytyniak', '/staff/john-dytyniak') %></li>
					<li><%= link_to('Keith Lenard', '/staff/keith-lenard') %></li>
					<li><%= link_to('Jill Lilly', '/staff/jill-lilly') %></li>
					<li><%= link_to('Cheri Oates', '/staff/cheri-oates') %></li>
					<li><%= link_to('Brenda Presson', '/staff/brenda-presson') %></li>
					<li><%= link_to('Ann Shaw', '/staff/ann-shaw') %></li>
					<li><%= link_to('Lori Syc', '/staff/lori-syc') %></li>
					<li><%= link_to('Karen Zurbo-Miller', '/staff/karen-zurbo-miller') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Attorneys</h1>
			
			<h2>Randall A. Pentiuk- Managing Shareholder</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/randall-a-pentiuk.jpg', :alt => 'Randall Pentiuk Managing Shareholder Attorney at PCK Law', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('rpentiuk@pck-law.com', 'rpentiuk@pck-law.com') %> | Phone: (734) 281-7100 ext. 105</h5>
				
				<h4 class="law">ADMISSIONS</h4>
				<h5>Practice in Michigan, Washington D.C., Virginia</br>Washington State, Illinois, and Indiana</h5>

				<h4>LAW SCHOOL</h4>
				<h5>Juris Doctorate, Magna Cum Laude, Detroit College of Law</h5>

				<h4>COLLEGE</h4>
				<h5>Wayne State University</br>
				- School of Business Administration</h5>

				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
						<li>General Civil Law</li>
						<li>Housing Cooperative Law</li>
						<li>Litigation Law</li>
						<li>Municipal</li>
						<li>Nonprofit Corporate Law</li>
					</ul>
			</div>
			
			<div class="cb"></div>
			
			<p>Founded in 1989 by Randall Pentiuk, Pentiuk, Couvreur &amp; Kobiljak is Downriver's premier law firm. Mr. Pentiuk has been involved in all aspects of the general practice of law, representing individuals, businesses, professionals, local government, nonprofit corporations and other business entities since 1981. He has been providing services spanning the full spectrum of the legal affairs of his clients.</p>
			
			<p>A Magna Cum Laude graduate of the <%= link_to('Detroit College of Law', 'http://www.detroit1701.org/Detroit%20College%20of%20Law.html', :target => '_blank') %> in 1981, he graduated third in his class and served as an editor on Law Review. His undergraduate degree was awarded with distinction from <%= link_to("Wayne State University's", 'http://wayne.edu/', :target => '_blank') %> <%= link_to('School of Business Administration', 'http://business.wayne.edu/', :target => '_blank') %> where he majored in Accounting. He served as a Research Attorney in the Michigan Court of Appeals before entering private practice.</p>
			
			<p>Since 1981, he has been involved with the <%= link_to('City of Riverview,', 'http://www.cityofriverview.com/', :target => '_blank') %> and assumed the duties of City Attorney in 1995. He continues in that capacity to date. In 1992, he was appointed Corporation Counsel for the <%= link_to('City of Melvindale,', 'http://www.melvindale.org/', :target => '_blank') %> a position he held through 2011. <%= link_to('The Charter Township of Royal Oak', 'http://www.royaloaktwp.com/', :target => '_blank') %> appointed him as its Special Counsel in 2004 and its General Counsel in 2006. He continues to serve in that capacity to date. Mr. Pentiuk also serves as Special Counsel for the <%= link_to('City of Taylor', 'http://www.cityoftaylor.com/', :target => '_blank') %> from 2009 to date, including litigation.</p>
			
			<p>Mr. Pentiuk serves as Corporate Attorney for the <%= link_to('Downriver Community Conference', 'http://www.dccwf.org/', :target => '_blank') %> and the <%= link_to('Downriver Mutual Aid.', 'http://www.semcog.org/data/agilegov.report.cfm?proj_num=103', :target => '_blank') %> The former is comprised of all the Downriver area municipalities and the latter is comprised of their police and fire agencies. In addition, he represents a number of other public corporations including the Housing Commissions for <%= link_to('Melvindale,', 'http://www.melvindale.org/city-services/housing-commission', :target => '_blank') %> Taylor and <%= link_to('Royal Oak Township,', 'http://www.ci.royal-oak.mi.us/portal/', :target => '_blank') %> the <%= link_to('Taylor Act 179 Authority,', 'http://www.cityoftaylor.com/files/sdms/Budget%20White%20Pages%20Coucnil%20Adopted%2012%2013.pdf', :target => '_blank') %> and the <%= link_to('South Huron Valley Utility Authority,', 'http://www.vanburen-mi.org/MeetingSchedule/South_Huron_Valley_Utility_Authority.html', :target => '_blank') %> the <%= link_to('Riverview Economic Development Corporation,', 'http://www.districtdelsol.com/', :target => '_blank') %> and <%= link_to('Downtown Development Authorities in Garden City,', 'http://www.downtowngardencity.org/', :target => '_blank') %> Melvindale, Southgate and Royal Oak. He has also represented <%= link_to('Wayne County', 'http://www.co.wayne.mi.us/', :target => '_blank') %> in various litigation matters, and has served as Receiver for the dissolution of a charter academy.</p>
			
			<p>He is a member of the State Bar of Michigan and the District of Columbia Bar. He is admitted to practice in all levels of the federal court system, including the U.S. Supreme Court. Among his professional memberships are: the <%= link_to('American Bar Association (ABA)', 'http://www.americanbar.org/aba.html', :target => '_blank') %>, the <%= link_to('International Municipal Lawyers Association (IMLA) Committee for Legislative Advocacy', 'http://www.imla.org/', :target => '_blank') %>, and the <%= link_to('Municipal Attorneys of Michigan Association (MAMA)', 'http://www.mml.org/mama/mama_charter.htm', :target => '_blank') %>. Mr. Pentiuk is also on the boards of the <%= link_to('Midwest Association of Housing Cooperatives (MAHC)', 'http://www.mahc.coop/', :target => '_blank') %> and the <%= link_to('National Association of Housing Cooperatives (NAHC)', 'http://www.coophousing.org/', :target => '_blank') %>. He co-founded the Future of Cooperative Housing for the purpose of training housing cooperative boards. He received the "C. March Miller II Award" in 2007 from the President of MAHC for outstanding service of a Board Member. Mr. Pentiuk is a member of the <%= link_to('Christian Legal Society', 'http://www.clsnet.org/', :target => '_blank') %> and a member of <%= link_to('UCOM', 'http://www.ucomonline.org/', :target => '_blank') %> (United Condominium Owners of Michigan).</p>
			
			<p>Beyond these governmental entities, Mr. Pentiuk represents the region’s leading nonprofit entities including mega-churches and human service organizations. Among his other clients are numerous housing cooperatives, condominium and homeowner associations, local businesses, private clients and serves as corporation counsel for the <%= link_to('Midwest Association of Housing Cooperatives.', 'http://www.mahc.coop/', :target => '_blank') %> His practice includes real estate transactions and litigation; estate planning; business planning and litigation; collections and commercial law, including creditor-side bankruptcy matters; and employment and labor relations litigation.</p>
			
			<p>His publications include the "Survey of Recent Decisions on Federalism" for the IMLA Federalism Committee Report to the 1998 Convention; "Evidence" for the Annual Survey of Sixth Circuit Law, 1983 Det. Coll. L. Rev 405 (1983); and "First National Bank of Boston v Bellotti: The Constitution Guarantees Free Speech for Corporations", 1979 Det. Coll. L. Rev. 545 (1979). He is a frequent speaker at conferences on housing law matters such as civil rights, fair housing act amendments, sexual harassment, and also authors articles on these topics. He has been named a "Michigan Super Lawyer", a recognition awarded to the top 5% of Michigan attorneys. Mr. Pentiuk has been included in the 2007/2008 edition of "Cambridge Who's Who Among Executives and Professionals" and the 2008 edition of "Marquis Who's Who In America."</p>
			
			<p>Active in community affairs, Mr. Pentiuk serves as Chairman of the Board for the <%= link_to('Detroit Rescue Mission Ministry', 'http://www.drmm.org/', :target => '_blank') %>, the nation's largest such ministry. He is also on the Board of the Michigan Chapter of <%= link_to('Volunteers of America', 'http://www.voa.org/', :target => '_blank') %>. He is President of the Detroit Shelter for the Homeless, and helped found Promise Village Home for Children. Mr. Pentiuk, his wife Cyntheia and their daughter reside in Northville, Michigan.</p>
		</div>
	</div>
</div>