<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator tenth"></div>
		
		<div class="sidebar mid">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Attorneys</h1>
			
			<h2>Roger Lee - Illinois Contract Attorney</h2>
			
			<%= image_tag'static/attorneys/profile-large-pic/missing-man.jpg', :alt => 'Roger Lee Attorney at PCK Law', :class => 'profile' %>
			
			<div class="profile">
				<h5><%= mail_to('info@pck-law.com', 'info@pck-law.com') %> | Phone: (734) 281-7100</h5>
				
				<h4 class="law">ADMISSIONS</h4>
				<h5>Practice in Illinois</h5>
				
				<h4>AREAS OF PRACTICE</h4>
					<ul class="practice">
			   			<li>General Practice</li>
						<li>Landlord Tenant</li>
					</ul>
			</div>
		</div>
	</div>
</div>