<div class="site-contents" id="our-approach-page">
	<div class="wrapper">
		<div class="indicator eighth"></div>

		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/our-approach') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Hours & Locations', '/our-approach/hours-and-locations') %></li>
					<li><%= link_to('Contact Us', '/contact-us') %></li>
					<li><%= link_to('PCK History', '/our-approach/pck-history') %></li>
					<li><%= link_to('Testimonials', '/our-approach/testimonials') %></li>
					<li><%= link_to("FAQ's", '/our-approach/faqs') %></li>
					<li><%= link_to('Office Tour', '/our-approach/office-tours') %></li>
					<li><%= link_to('Community Involvement', '/our-approach/community-involvement') %></li>
					<li><%= link_to('Press Release', '/our-approach/press-release') %></li>
					<li><%= link_to('Law Publications', '/our-approach/law-publications') %></li>
				</ul>
			</nav>
		</div>

		<div class="copy">
			<h1>Our Approach</h1>

			<h2>Community Involvement</h2>
			
			<div class="statement first">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/the-american-legion.jpg', :alt => 'The American Legion', :class => 'ci-logos'), 'http://www.legion.org/', :target => '_blank' %>
				</div>
				
				<div class="summary">
					<h3>American Legion</h3>		
					<span>The American Legion was chartered by Congress in 1919 as a patriotic, mutual-help, war-time veterans organization. A community-service organization which now numbers nearly 3 million members -- men and women -- in nearly 15,000 American Legion Posts worldwide.<br> <%= link_to('View Website', 'http://www.legion.org/', :target => '_blank') %></span>
				</div>
			</div>
		
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/children-hospital-of-michigan.jpg', :alt => 'Children Hospital of Michigan', :class => 'ci-logos'), 'http://www.childrensdmc.org/', :target => '_blank' %>
				</div>
				
				<div class="summary">
					<h3>Children’s Hospital of Michigan</h3>		
					<span>Children need a hospital all their own, where they come first. They need a hospital where specialists hold their hands and pediatric experts are always ready. With more than 40 specialties, the Children’s Hospital of Michigan sees more kids and trains more pediatric medical and surgical experts than any other hospital in the state. For more than 120 years, the Children's Hospital of Michigan is the hospital where all we know and everything we do is just for them.<br> <%= link_to('View Website', 'http://www.childrensdmc.org/', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/christian-legal-society.jpg', :alt => 'Christian Legal Society', :class => 'ci-logos'), 'http://www.clsnet.org/', :target => '_blank' %>
				</div>
				
				<div class="summary">
					<h3>Christian Legal Society</h3>		
					<span>CLS is a non-denominational Christian membership association of lawyers, judges, law professors, law students, and other associates whose members participate in the broad and rich variety of Christian congregational life and traditions.<br> <%= link_to('View Website', 'http://www.clsnet.org/', :target => '_blank') %></span>
				</div>
			</div>

			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/detroit-behavioral-institute.jpg', :alt => 'Detroit Behavioral Institute', :class => 'ci-logos'), 'http://www.dbinstitute.com/', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Detroit Behavioral Institute</h3>		
					<span>Our mission is to assist in preparing our young men and women for their future, therefore improving the chances of their successful return to the community, and adaptation to a healthy and safe lifestyle.<br> <%= link_to('View Website', 'http://www.dbinstitute.com/', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/detroit-rescue-mission-ministries.jpg', :alt => 'The Detroit Rescue Mission Ministries', :class => 'ci-logos'), 'http://www.drmm.org/', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>The Detroit Rescue Mission Ministries</h3>		
					<span>The Detroit Rescue Mission Ministries is a Christian faith-based charitable organization, accredited by the Commission for Accreditation of Rehabilitation Facilities (CARF). DRMM is dedicated to meeting the basic needs of humanity, while motivating individuals to rebuild their lives, one life at a time.<br> <%= link_to('View Website', 'http://www.drmm.org/', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/downriver-community-conference.jpg', :alt => 'Downriver Community Conference', :class => 'ci-logos'), 'http://www.dccwf.org', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Downriver Community Conference</h3>		
					<span>The Downriver Community Conference Partnership provides leadership in establishing common, positive goals and strategies to develop the human, social and economic assets of the Downriver area; enhance the quality of life for area residents, workers and businesses; shape public policy at federal, state, regional, county and local levels; and identify, obtain and responsibly manage the necessary financial resources to successfully implement this vision.<br> <%= link_to('View Website', 'http://www.dccwf.org', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/downriver-community-prayer-breakfast.jpg', :alt => 'Downriver Community Prayer Breakfast', :class => 'ci-logos'), '', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Downriver Community Prayer Breakfast</h3>		
					<span>The Downriver Community Prayer Breakfast is an annual event for prayer, music and motivational stories to enrich our community.<br> <%= link_to('View Website', 'Downriver Community Prayer Breakfast', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/downriver-council-for-the-arts.jpg', :alt => 'Downriver Council for the Arts', :class => 'ci-logos'), 'http://www.downriverarts.org', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Downriver Council for the Arts</h3>		
					<span>The mission of the Downriver Council for the Arts is enrich the quality of life in the Downriver communities by advocating and promoting the arts and providing opportunities for involvement and participation in arts and cultural activities.<br> <%= link_to('View Website', 'http://www.downriverarts.org', :target => '_blank') %></span>
				</div>
			</div>

			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/gift-of-sight-foundation.jpg', :alt => 'Gift of Sight Foundation', :class => 'ci-logos'), 'http://www.givethegiftofsight.org', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Gift of Sight Foundation</h3>		
					<span>Give the Gift of Sight is a family of charitable programs providing free vision care and eyewear to underprivileged individuals in North America and developing countries around the world.<br> <%= link_to('View Website', 'http://www.givethegiftofsight.org', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/grosse-ile-nature-land-conservancy.jpg', :alt => 'Grosse Ile Nature & Land Conservancy', :class => 'ci-logos'), 'http://www.ginlc.org', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Grosse Ile Nature &amp; Land Conservancy</h3>		
					<span>The Grosse Ile and Nature Land Conservancy works to achieve its goal of protecting land through land acquisition, conservation easements and educational projects.<br> <%= link_to('View Website', 'http://www.ginlc.org', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/guidance-center.jpg', :alt => 'The Guidance Center', :class => 'ci-logos'), 'http://www.guidance-center.org', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>The Guidance Center</h3>		
					<span>The Guidance Center, founded in 1958, is a behavioral health and human services organization dedicated to the mental well-being of children, adults and families in Southeast Michigan.<br> <%= link_to('View Website', 'http://www.guidance-center.org', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/mitch-albom-haiti-project.jpg', :alt => 'Mitch Albom’s Haiti Project Have Faith Haiti Mission', :class => 'ci-logos'), 'http://saydetroit.org/haiti/', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Mitch Albom’s Haiti Project Have Faith Haiti Mission</h3>		
					<span>The Have Faith Haiti Mission is a special place of love and caring, dedicated to the safety, education, health and spiritual development of Haiti’s impoverished children and orphans. The Mission was founded in the 1980’s by a Detroit Pastor named John Hearn Sr. as The Caring and Sharing Mission.<br> <%= link_to('View Website', 'http://saydetroit.org/haiti/', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/midwest-association-of-housing-cooperatives.jpg', :alt => 'Midwest Association of Housing Cooperatives', :class => 'ci-logos'), 'http://www.mahc.coop', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Midwest Association of Housing Cooperatives</h3>		
					<span>Support and champion the cause of quality housing through education, legislative actions, partnership, and advocacy for housing cooperatives.<br> <%= link_to('View Website', 'http://www.mahc.coop', :target => '_blank') %></span>
				</div>
			</div>

			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/muscular-dystrophy-association.jpg', :alt => 'Muscular Dystrophy Association', :class => 'ci-logos'), 'http://www.mdausa.org', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Muscular Dystrophy Association</h3>		
					<span>The muscular Dystrophy Association is a national voluntary health agency dedicated to conquering more than 40 neuromuscular diseases that affect a million Americans of all ages.<br> <%= link_to('View Website', 'http://www.mdausa.org', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/national-association-for-the-advancement-of-colored-people.jpg', :alt => 'National Association for the Advancement of Colored People', :class => 'ci-logos'), 'http://www.naacp.org/', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>National Association for the Advancement of Colored People</h3>		
					<span>From the ballot box to the classroom, the dedicated workers, organizers, and leaders who forged this great organization and maintain its status as a champion of social justice, fought long and hard to ensure that the voices of African Americans would be heard. For nearly one hundred years, it has been the talent and tenacity of NAACP members that has saved lives and changed many negative aspects of American society.<br> <%= link_to('View Website', 'http://www.naacp.org/', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/national-association-of-housing-cooperatives.jpg', :alt => 'National Association of Housing Cooperatives', :class => 'ci-logos'), 'http://www.coophousing.org', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>National Association of Housing Cooperatives</h3>		
					<span>The National Association of Housing Cooperatives is a nonprofit national federation of housing cooperatives, mutual housing associations, member associations, other resident-owned or controlled housing, professionals, organizations, and individuals interested in promoting the interests of cooperative housing communities.<br> <%= link_to('View Website', 'http://www.coophousing.org', :target => '_blank') %></span>
				</div>
			</div>
			
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/northridge-church.jpg', :alt => 'NorthRidge Church', :class => 'ci-logos'), 'http://www.northridgechurch.com', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>NorthRidge Church</h3>		
					<span>At NorthRidge Church, our purpose is to lead people to a life of faith in Christ and then on the journey to full devotion, one life at a time.<br> <%= link_to('View Website', 'http://www.northridgechurch.com', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/our-lady-of-mount-carmel-athletics.jpg', :alt => 'Our Lady of Mount Carmel & Athletics', :class => 'ci-logos'), 'http://www.ourladyofmountcarmel.org', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Our Lady of Mount Carmel &amp; Athletics</h3>		
					<span>Our Lady of Mount Carmel is a traditional, Polish, Roman Catholic Parish that fosters a special devotion to Mary, the Mother of God. We endeavor to serve the spiritual needs of our Parish, provide quality Catholic education within our community and share our rich Polish heritage and customs through our schools, societies and Parish life.<br> <%= link_to('View Website', 'http://www.ourladyofmountcarmel.org', :target => '_blank') %></span>
				</div>
			</div>

			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/.jpg', :alt => 'PAWS of Michigan', :class => 'ci-logos'), 'http://www.pawsofmichigan.com', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>PAWS of Michigan</h3>		
					<span>P.A.W.S. (Precious Animal Welfare Society) of Michigan is a 501 (c) (3), all-volunteer group that promotes the humane, compassionate, and responsible treatment of all animals.<br> <%= link_to('View Website', 'http://www.pawsofmichigan.com', :target => '_blank') %></span>
				</div>
			</div>

			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/riverview-goodfellows.jpg', :alt => 'Riverview Goodfellows', :class => 'ci-logos'), 'http://www.goodfellows.org', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Riverview Goodfellows</h3>		
					<span>Goodfellows is the oldest continuously running Jaycee project in the world. Since 1934, this project has provided a Christmas to children that otherwise would not have a Christmas experience.<br> <%= link_to('View Website', 'http://www.goodfellows.org', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= image_tag( 'static/community-invovlement/.jpg', :alt => 'Riverview Hall of Fame', :class => 'ci-logos') %>
				</div>

				<div class="summary">
					<h3>Riverview Hall of Fame</h3>		
					<span>To recognize outstanding Riverview leaders, and provide scholarships to community students.</span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/roosevelt-high-school.jpg', :alt => 'Roosevelt High School', :class => 'ci-logos'), 'http://www.wyandotte.org/', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Roosevelt High School</h3>		
					<span>The RHS staff, in cooperation with home and community, assists all students as they develop their individual potential. We believe all students can learn, and we share the responsibility of teaching them the skills for success in an increasingly complex society.<br> <%= link_to('View Website', 'http://www.wyandotte.org/', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/southern-great-lakes-symphony-orchestra.jpg', :alt => 'Southern Great Lakes Symphony Orchestra', :class => 'ci-logos'), 'http://www.sgls.org/', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Southern Great Lakes Symphony Orchestra</h3>		
					<span>The Southern Great Lakes Symphony Orchestra is a professional group that plays all types of classical music, with its repertoire ranging from Mozart and Beethoven to Leroy Anderson and Richard Rodgers. It is dedicated to the idea that all individuals need to experience, understand and enjoy quality performance.<br> <%= link_to('View Website', 'http://www.sgls.org/', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/southern-wayne-county-chamber-of-commerce.jpg', :alt => 'Southern Wayne County Chamber of Commerce', :class => 'ci-logos'), 'http://www.swccc.org/', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Southern Wayne County Chamber of Commerce</h3>		
					<span>The Southern Wayne County Regional Chamber, located in southeastern Michigan, exists to improve the overall business climate for its members by undertaking action which stimulates economic growth, interbusiness communication, member education and promotes legislative direction.<br> <%= link_to('View Website', 'http://www.swccc.org/', :target => '_blank') %></span>
				</div>
			</div>

			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/special-olympics-michigan.jpg', :alt => 'Special Olympics Michigan', :class => 'ci-logos'), 'http://www.somi.org', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Special Olympics Michigan</h3>		
					<span>Through Special Olympics, athletes gain self-confidence and prove their own capabilities. Special Olympics Michigan is not just training for sports--it's training for life!<br> <%= link_to('View Website', 'http://www.somi.org', :target => '_blank') %></span>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/tails-logo.jpg', :alt => 'T.A.I.L.S.', :class => 'ci-logos'), 'http://grosseileanimalshelter.com/tails/index.htm', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>T.A.I.L.S.</h3>		
					<span>The Animals' Island League Shelter) is a non-profit group organized in 1996 for the sole purpose of providing care for the homeless animals of Grosse Ile.<br> <%= link_to('View Website', 'http://grosseileanimalshelter.com/tails/index.htm', :target => '_blank') %></span>
				</div>
			</div>

			<div class="statement">
				<div class="phrases">
					<%= link_to image_tag( 'static/community-invovlement/volunteers-of-america-michigan.jpg', :alt => 'http://www.voami.org', :class => 'ci-logos'), 'Volunteers of America - Michigan', :target => '_blank' %>
				</div>

				<div class="summary">
					<h3>Volunteers of America - Michigan</h3>		
					<span>Volunteers of America Michigan is a charitable organization founded and driven on Christian values and principles. We address the needs of our community's disadvantaged, focusing on all levels of our continuum of care. We believe in the dignity of every person and strive to help them achieve self-sufficiency. We encourage service to God, by serving others.<br> <%= link_to('View Website', 'http://www.voami.org', :target => '_blank') %></span>
				</div>
			</div>
		</div>
	</div>
</div>
