<div class="site-contents" id="our-approach-page">
	<div class="wrapper">
		<div class="indicator sixth"></div>

		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/our-approach') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Hours & Locations', '/our-approach') %></li>
					<li><%= link_to('Contact Us', '/contact-us') %></li>
					<li><%= link_to('PCK History', '/our-approach/pck-history') %></li>
					<li><%= link_to('Testimonials', '/our-approach/testimonials') %></li>
					<li><%= link_to("FAQ's", '/our-approach/faqs') %></li>
					<li><%= link_to('Office Tour', '/our-approach/office-tour') %></li>
					<li><%= link_to('Community Involvement', '/our-approach/community-involvement') %></li>
					<li><%= link_to('Press Release', '/our-approach/press-release') %></li>
					<li><%= link_to('Law Publications', '/our-approach/law-publications') %></li>
				</ul>
			</nav>
		</div>

		<div class="copy">
			<h1>Our Approach</h1>

			<h2>Frequently Asked Questions</h2>
			
			<i><span>Q:</span> Is there a consultation Fee?</i>
			<p class="line">A: Yes. There is a $100 consultation fee to meet with one of our attorneys and discuss the details of your case.</p>
			
			<i><span>Q:</span> Do you give free advice over the phone?</i>
			<p class="line">A: No. Because of the nuances of each individual case we believe it is better to meet with clients in person to go over the details and give proper and accurate advice.</p>
			
			<i><span>Q:</span> Do you handle consumer bankruptcy?</i>
			<p class="line">A: No. Pentiuk, Couvreur &amp; Kobiljak, P.C. handles the collection side of bankruptcy for Municipalities, Credit Unions, Dr.’s offices, and other businesses.</p>
			
			<i><span>Q:</span> When I call your office the first time, who will I ask for?</i>
			<p class="line">A: Just identify yourself as a new client to the receptionist and explain the general nature of your legal concern. She will direct you to an attorney or legal assistant who handles that type of matter.</p>
			
			<i><span>Q:</span> What will I pay for your services?</i>
			<p class="line">A: In our initial meeting, we explain the various options for payment, and discuss which one is best for the circumstance. If it is an accident or personal injury case, or certain types of employment cases, where you are the plaintiff, we typically handle the matter on a contingency fee basis. This means that we are paid for our services out of the proceeds of the recovery, so you do not have to pay for our services. Other types of cases may be handled as a flat fee, or on an hourly basis. We make it a point to discuss fees up front so you can make an informed decision.</p>
			
			<i><span>Q:</span> What if I cannot afford to pay right away?</i>
			<p class="line">A: As indicated above, there are certain types of injury cases which we handle on a contingency fee basis so you will not have to pay us. In other cases where payment is required, we will work with you to reach a satisfactory payment plan. We also accept credit cards.</p>

			<i><span>Q:</span> How long will I have to wait when I arrive for my appointment?</i>
			<p class="line">A: We make a special effort to be punctual, recognizing that your time is valuable. Just as we expect you to be on time, we make every effort to do likewise. Of course, there are exceptions where delay is unavoidable but these are rare. If a delay is expected, we try to call you in advance or if you have already arrived, we will let you know of the situation, and make sure you are comfortable. We all have had the experience of sitting in waiting rooms for long periods so you can be assured that we take special measures to avoid this all-too-common problem.</p>
			
			<i><span>Q:</span> If I am unable to climb stairs, will this be a problem?</i>
			<p>A: Not at all. We have a wheel chair ramp at the entranceway to our building, and an elevator to our second floor suite. Our office, including restrooms, is fully handicap accessible.</p>

		</div>
	</div>
</div>
