<div class="site-contents" id="our-approach-page">
	<div class="wrapper">
		<div class="indicator tenth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/our-approach') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Hours & Locations', '/our-approach/hours-and-locations') %></li>
					<li><%= link_to('Contact Us', '/contact-us') %></li>
					<li><%= link_to('PCK History', '/our-approach/pck-history') %></li>
					<li><%= link_to('Testimonials', '/our-approach/testimonials') %></li>
					<li><%= link_to("FAQ's", '/our-approach/faqs') %></li>
					<li><%= link_to('Office Tour', '/our-approach/office-tours') %></li>
					<li><%= link_to('Community Involvement', '/our-approach/community-involvement') %></li>
					<li><%= link_to('Press Release', '/our-approach/press-release') %></li>
					<li><%= link_to('Law Publications', '/our-approach/law-publications') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Our Approach</h1>
			
			<h2>Law Publications</h2>

		</div>
	</div>
</div>