<div class="site-contents" id="our-approach-page">
	<div class="wrapper">
		<div class="indicator fourth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/our-approach') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Hours & Locations', '/our-approach/hours-and-locations') %></li>
					<li><%= link_to('Contact Us', '/contact-us') %></li>
					<li><%= link_to('PCK History', '/our-approach/pck-history') %></li>
					<li><%= link_to('Testimonials', '/our-approach/testimonials') %></li>
					<li><%= link_to("FAQ's", '/our-approach/faqs') %></li>
					<li><%= link_to('Office Tour', '/our-approach/office-tours') %></li>
					<li><%= link_to('Community Involvement', '/our-approach/community-involvement') %></li>
					<li><%= link_to('Press Release', '/our-approach/press-release') %></li>
					<li><%= link_to('Law Publications', '/our-approach/law-publications') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Our Approach</h1>
			
			<h2>Our History, About Pentiuk, Couvreur &amp; Kobiljak P.C.</h2>

			<p>Pentiuk, Couvreur &amp; Kobiljak P.C. was founded in 1989 in Wyandotte, Michigan and has expanded to a second office in Chicago, Illinois. Our main office is located in Metro Detroit, but we travel throughout the state to represent businesses and individuals in all areas of Michigan and the Chicago Metro Area.</p>

			<p>Our reputation for providing clients with exceptional service and acting with the highest level of integrity has resulted in regular referrals from law firms and companies throughout the country and internationally. We regularly assist clients located outside of the state with their Michigan cases, through direct representation or as consultants to their legal counsel on laws and procedures within our jurisdiction.</p>

			<p>Our lawyers have more than 100 years of experience — and are committed to fulfilling our mission of excellence in every case.</p>
		</div>
	</div>
</div>