<div class="site-contents" id="attorneys-page">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="none">
				<ul>
					<li><%= link_to('Randall A. Pentiuk', '/attorneys/randall-pentiuk') %></li>
					<li><%= link_to('Joseph G. Couvreur', '/attorneys/joseph-couvreur') %></li>
					<li><%= link_to('Kurt M. Kobiljak', '/attorneys/kurt-kobiljak') %></li>
					<li><%= link_to('Creighton D. Gallup', '/attorneys/creighton-gallup') %></li>
					<li><%= link_to('Michael P. Hurley', '/attorneys/michael-hurley') %></li>
					<li><%= link_to('Kerry Lee Morgan', '/attorneys/kerry-morgan') %></li>
					<li><%= link_to('April Knoch', '/attorneys/april-knoch') %></li>
					<li><%= link_to('Brittny K. Harris', '/attorneys/brittny-harris') %></li>
					<li><%= link_to('Roger Lee', '/attorneys/roger-lee') %></li>
				</ul>
			</nav>
			
			<div class="directory management">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="middle">
				<ul>
					<li><%= link_to('Scott Leake', '/staff/scott-leake') %></li>
				</ul>
			</nav>
			
			<div class="directory staff">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav class="staff">
				<ul>
					<li><%= link_to('Patricia Bartow', '/staff/patricia-bartow') %></li>
					<li><%= link_to('Patti Drobot', '/staff/patti-drobot') %></li>
					<li><%= link_to('John W. Dytyniak', '/staff/john-dytyniak') %></li>
					<li><%= link_to('Keith Lenard', '/staff/keith-lenard') %></li>
					<li><%= link_to('Jill Lilly', '/staff/jill-lilly') %></li>
					<li><%= link_to('Cheri Oates', '/staff/cheri-oates') %></li>
					<li><%= link_to('Brenda Presson', '/staff/brenda-presson') %></li>
					<li><%= link_to('Ann Shaw', '/staff/ann-shaw') %></li>
					<li><%= link_to('Lori Syc', '/staff/lori-syc') %></li>
					<li><%= link_to('Karen Zurbo-Miller', '/staff/karen-zurbo-miller') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Attorneys</h1>
			
			<h2>Detroit Metro's Highly Regarded Premier Law Firm</h2>
			<p>In the profiles of our attorneys, you will discover why Pentiuk, Couvreur &amp; Kobiljak, P.C. is highly regarded as the premier law firm in the Downriver Detroit Community, and is widely respected throughout Metropolitan Detroit, Wayne County and the State of Michigan as a firm as zealous and experienced attorneys committed to serving our clients with the finest legal representation.</p>
			
			<p class="line">Each attorney is licensed to practice law in all of the courts within the State of Michigan, ranging from the trial court level of district and circuit courts, through the Michigan Court of Appeals and the Michigan Supreme Court. We routinely appear at the trial courts in Wayne, Oakland, Macomb and Monroe Counties and others. Our attorneys are also admitted to practice in various federal courts, such as the United States Supreme Court, the Sixth Circuit Court of Appeals, the District Courts for the Eastern and Western Districts of Michigan, and the Bankruptcy Court.</p>
			
			<span>Our Attorneys Profile</span>
			
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/randall-a-pentiuk.png', :alt => 'Randall Pentiuk Managing Shareholder Attorney at PCK Law' %>
				
				<div class="details">
					<h3>RANDALL A. PENTIUK</h3>
					<i>Managing Shareholder</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Housing Cooperative | </br>
						Litigation Law | and more...</h5>
	
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('rpentiuk@pck-law.com', 'rpentiuk@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 105</h5>
				</div>
				
				<%= link_to('','/attorneys/randall-pentiuk') %>
			</div>
			
			<div class="blurb right">
				<%= image_tag'static/attorneys/profile-small-pic/joseph-g-couvreur.png', :alt => 'Joseph G. Couvreur Shareholder Attorney at PCK Law' %>
				
				<div class="details">
					<h3>JOSEPH G. COUVREUR</h3>
					<i>Shareholder Partner</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>General Practice | Real Estate</br>
					Housing Cooperatives | more...
					</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('jcouvreur@pck-law.com', 'jcouvreur@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 106</h5>
				</div>
				
				<%= link_to('','/attorneys/joseph-couvreur') %>
			</div> 
			
			
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/kurt-m-kobiljak.png', :alt => 'Kurt M. Kobiljak Attorney at PCK Law' %>
				
				<div class="details">
					<h3>KURT M. KOBILJAK</h3>
					<i>Shareholder</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Civil Defense Litigation</br>
						Estate Planning | and more...
					</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('kkobiljak@pck-law.com', 'kkobiljak@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 105</h5>
				</div>
				
				<%= link_to('','/attorneys/kurt-kobiljak') %>
			</div>
			
			<div class="blurb right">
				<%= image_tag'static/attorneys/profile-small-pic/creighton-d-gallup.png', :alt => 'Creighton D. Gallup Attorney at PCK Law' %>
				
				<div class="details">
					<h3>CREIGHTON D. GALLUP</h3>
					<i>Partner</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Civil Litigation | Family Law </br>
					Landlord Tenant Law</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('cgallup@pck-law.com', 'cgallup@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 108</h5>
				</div>
				
				<%= link_to('','/attorneys/creighton-gallup') %>
			</div>
		
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/michael-p-hurley.png', :alt => 'Michael P. Hurley Attorney at PCK Law' %>
				
				<div class="details">
					<h3>MICHAEL P. HURLEY</h3>
					<i>Attorney</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Municipal | Criminal Law</br>
						Litigation Law | Landlord Tenant
					</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('mhurley@pck-law.com', 'mhurley@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 107</h5>
				</div>
				
				<%= link_to('','/attorneys/michael-hurley') %>
			</div>
		
			<div class="blurb right">
				<%= image_tag'static/attorneys/profile-small-pic/kerry-lee-morgan.png', :alt => 'Kerry Lee Morgan Attorney at PCK Law' %>

				<div class="details">
					<h3>KERRY LEE MORGAN</h3>
					<i>Counsel Attorney</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Employment Law and Litigation</br>
					Civil Litigation | and more...
					</h5>
				</div>

				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('kmorgan@pck-law.com', 'kmorgan@pck-law.com') %></h5>
				</div>

				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 103</h5>
				</div>

				<%= link_to('','/attorneys/kerry-morgan') %>
			</div>
			
			
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/april-knoch.png', :alt => 'April Koch Attorney at PCK Law' %>
				
				<div class="details">
					<h3>APRIL KNOCH</h3>
					<i>Associate Attorney</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>General Practice | Collection Law<br>
					Condominium Law | and more...</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('aknoch@pck-law.com', 'aknoch@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 121</h5>
				</div>
				
				<%= link_to('','/attorneys/april-knoch') %>
			</div>
			
			<div class="blurb right">
				<%= image_tag'static/attorneys/profile-small-pic/brittny-harris.png', :alt => 'Brittny K. Harris Attorney at PCK Law' %>
				
				<div class="details">
					<h3>BRITTNY K. HARRIS</h3>
					<i>Associate Attorney and Marketing Director</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>General Practice</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('bharris@pck-law.com', 'bharris@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 000?</h5>
				</div>
				
				<%= link_to('','/attorneys/brittny-harris') %>
			</div>
			
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/missing-man.png', :alt => 'Roger Lee Contract Attorney at PCK Law' %>
				
				<div class="details">
					<h3>Roger Lee</h3>
					<i>Illinois Contract Attorney</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>General Practice</h5>
					<h5>Landlord Tenant</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('info@pck-law.com', 'info@pck-law.com') %></h5>
				</div>
				
				<div class="phone ext-none">
					<h4>PHONE</h4>
					<h5>(734) 281-7100</h5>
				</div>
				
				<%= link_to('','/attorneys/roger-lee') %>
			</div>

			<span class="line">Management Profile</span>
			
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/scott-leake.png', :alt => 'Scott Leake Office Manager' %>
				
				<div class="details">
					<h3>SCOTT LEAKE</h3>
					<i>Office Manager</i>

					<h4>RESPONSIBILITIES</h4>
					<h5>Human Resources | Accounting</br>
						IT | Marketing | and more...</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('sleake@pck-law.com', 'sleake@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 117</h5>
				</div>
				
				<%= link_to('','/staff/scott-leake') %>
			</div>
				
			<span class="line">Our Staff Profile</span>
			
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/patricia-bartow.png', :alt => 'Patricia Bartow PCK Legal Assistant' %>
				
				<div class="details">
					<h3>PATRICIA BARTOW</h3>
					<i>Mr. Pentiuk’s Primary</br> Legal Assistant</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>General Practice</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('pbartow@pck-law.com', 'pbartow@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 114</h5>
				</div>
				
				<%= link_to('','/staff/patricia-bartow') %>
			</div>
			
			<div class="blurb right">
				<%= image_tag'static/attorneys/profile-small-pic/missing-woman.png', :alt => 'Patti Drobot Legal Assistant' %>
				
				<div class="details">
					<h3>PATTI DROBOT</h3>
					<i>Mr. Kobiljak Primary</br>Legal Assistant</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Civil Litigation</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('pdrobot@pck-law.com', 'pdrobot@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 102</h5>
				</div>
				
				<%= link_to('','/staff/patti-drobot') %>
			</div>
			
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/missing-man.png', :alt => 'Missing Office Manager' %>
				
				<div class="details">
					<h3>John W. Dytyniak</h3>
					<i>Legal Assistant</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Civil Litigation</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('jdytyniak@pck-law.com', 'jdytyniak@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 124</h5>
				</div>
				
				<%= link_to('','/staff/john-dytyniak') %>
			</div>
			
			<div class="blurb right">
				<%= image_tag'static/attorneys/profile-small-pic/keith-lenard.png', :alt => 'Keith Lenard Legal Clerk' %>
				
				<div class="details">
					<h3>KEITH LENARD</h3>
					<i>Administrative Assistant</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Labor &amp; Employment Matters</br>
						Civil Litigation | and more...</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('klenard@pck-law.com', 'klenard@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 100</h5>
				</div>
				
				<%= link_to('','/staff/keith-lenard') %>
			</div>
			
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/jill-lilly.png', :alt => 'Jill Lilly' %>
				
				<div class="details">
					<h3>JILL LILLY</h3>
					<i>Office Manager</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>General Practice</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('jlilly@pck-law.com', 'jlilly@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 118</h5>
				</div>
				
				<%= link_to('','/staff/jill-lilly') %>
			</div>
			
			<div class="blurb right">
				<%= image_tag'static/attorneys/profile-small-pic/cheri-oates.png', :alt => 'Cheri Oates Legal Clerk' %>
				
				<div class="details">
					<h3>CHERI OATES</h3>
					<i>Legal Clerk</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Civil Litigation</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('coates@pck-law.com', 'coates@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 122</h5>
				</div>
				
				<%= link_to('','/staff/cheri-oates') %>
			</div>
			
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/brenda-presson.png', :alt => 'Brenda Presson' %>
				
				<div class="details">
					<h3>BRENDA PRESSON</h3>
					<i>Office Manager</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>General Practice</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('bpresson@pck-law.com', 'bpresson@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 104</h5>
				</div>
				
				<%= link_to('','/staff/brenda-presson') %>
			</div>
			
			<div class="blurb right">
				<%= image_tag'static/attorneys/profile-small-pic/ann-shaw.png', :alt => 'Cheri Oates Legal Clerk' %>
				
				<div class="details">
					<h3>ANN SHAW</h3>
					<i>Legal Clerk</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Civil Litigation</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('ashaw@pck-law.com', 'ashaw@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 115</h5>
				</div>
				
				<%= link_to('','/staff/ann-shaw') %>
			</div>
			
			<div class="blurb">
				<%= image_tag'static/attorneys/profile-small-pic/lori-syc.png', :alt => 'Lori Syc' %>
				
				<div class="details">
					<h3>LORI SYC</h3>
					<i>Office Manager</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>General Practice</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('lsyc@pck-law.com', 'lsyc@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 120</h5>
				</div>
				
				<%= link_to('','/staff/lori-syc') %>
			</div>
			
			<div class="blurb right">
				<%= image_tag'static/attorneys/profile-small-pic/karen-zurbo-miller.png', :alt => 'Karen Zurbo-Miller' %>
				
				<div class="details">
					<h3>KAREN ZURBO-MILLER</h3>
					<i>Legal Clerk</i>

					<h4>AREAS OF PRACTICE</h4>
					<h5>Civil Litigation</h5>
				</div>
				
				<div class="email">
					<h4>EMAIL</h4>
					<h5><%= mail_to('kmiller@pck-law.com', 'kmiller@pck-law.com') %></h5>
				</div>
				
				<div class="phone">
					<h4>PHONE</h4>
					<h5>(734) 281-7100 ext. 119</h5>
				</div>
				
				<%= link_to('','/staff/karen-zurbo-miller') %>
			</div>
			
		</div>
	</div>
</div>