<div class="site-contents" id="our-approach-page">
	<div class="wrapper">
		<div class="indicator third"></div>
		
		<div class="sidebar long">
			<div class="directory">
				<%= link_to('', '/our-approach') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Hours & Locations', '/our-approach') %></li>
					<li><%= link_to('Contact Us', '/contact-us') %></li>
					<li><%= link_to('PCK History', '/our-approach') %></li>
					<li><%= link_to('Testimonials', '/our-approach') %></li>
					<li><%= link_to("FAQ's", '/our-approach') %></li>
					<li><%= link_to('Office Tour', '/our-approach') %></li>
					<li><%= link_to('Community Involvement', '/our-approach') %></li>
					<li><%= link_to('Press Release', '/our-approach') %></li>
					<li><%= link_to('Law Publications', '/our-approach') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Our Approach</h1>
			
			<h2>Request A Case Review</h2>
			<p>Our case review is meant to be used only if you are seeking legal representation. Once you fill out our case review form, your case will be sent to our qualified attorneys to be reviewed. If your case is selected, an attorney will contact you and explain your next legal steps.</p>
			
			<p>If you prefer to contact a qualified attorney by phone, please call us at <b>734-281-7100</b></p>
			
			<div id="wufoo-q7x2x3">
			Fill out my <a href="http://pcklaw.wufoo.com/forms/q7x2x3">online form</a>.
			</div>
			<script type="text/javascript">var q7x2x3;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'pcklaw', 
			'formHash':'q7x2x3', 
			'autoResize':true,
			'height':'1350',
			'async':true,
			'header':'show'};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { q7x2x3 = new WufooForm();q7x2x3.initialize(options);q7x2x3.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>
			

		</div>
	</div>
</div>