<div class="site-contents" id="our-approach-page">
	<div class="wrapper">
		<div class="indicator third"></div>
		
		<div class="sidebar long">
			<div class="directory">
				<%= link_to('', '/our-approach') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Hours & Locations', '/our-approach') %></li>
					<li><%= link_to('Contact Us', '/contact-us') %></li>
					<li><%= link_to('PCK History', '/our-approach') %></li>
					<li><%= link_to('Testimonials', '/our-approach') %></li>
					<li><%= link_to("FAQ's", '/our-approach') %></li>
					<li><%= link_to('Office Tour', '/our-approach') %></li>
					<li><%= link_to('Community Involvement', '/our-approach') %></li>
					<li><%= link_to('Press Release', '/our-approach') %></li>
					<li><%= link_to('Law Publications', '/our-approach') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Our Approach</h1>
			
			<h2>Contact Us</h2>
			<p>Pentiuk, Couvreur &amp; Kobiljak, P.C. is conveniently located in the downtown business district of Wyandotte. We can be easily reached from Oakland, Macomb, and Monroe Counties, as well as Detroit and areas throughout Wayne County.</p>
			
			<%= image_tag'static/our-approach/pck-serves-the-great-lakes-region.jpg', :alt => 'PCK Serves the Great Lakes Region' %>
			<div class="cb"></div>
			
			<div id="wufoo-z7x3p9">
			Fill out my <a href="http://pcklaw.wufoo.com/forms/z7x3p9">online form</a>.
			</div>
			<script type="text/javascript">var z7x3p9;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'pcklaw', 
			'formHash':'z7x3p9', 
			'autoResize':true,
			'height':'637',
			'async':true,
			'header':'show'};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { z7x3p9 = new WufooForm();z7x3p9.initialize(options);z7x3p9.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>
			
			<%= image_tag'static/our-approach/pck-serves-the-greater-metro-detroit-area.jpg', :alt => 'PCK Serves the Greater Metro Detroit Area' %>
			
			<p>Parking is located right behind our building, and is literally yards away from the main entranceway to our offices. We are located on the second floor and can be reached by stairs or by elevator.</p>

			<div class="map">
							<iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;hl=en&amp;q=2915+Biddle+Ave,+Wyandotte,+Wayne,+Michigan+48192&amp;sll=37.0625,-95.677068&amp;sspn=31.784549,76.201172&amp;ie=UTF8&amp;geocode=FVz7gwIdhD8L-w&amp;split=0&amp;hq=&amp;hnear=2915+Biddle+Ave,+Wyandotte,+Wayne,+Michigan+48192&amp;t=m&amp;ll=42.20398,-83.148909&amp;spn=0.012716,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;q=2915+Biddle+Ave,+Wyandotte,+Wayne,+Michigan+48192&amp;sll=37.0625,-95.677068&amp;sspn=31.784549,76.201172&amp;ie=UTF8&amp;geocode=FVz7gwIdhD8L-w&amp;split=0&amp;hq=&amp;hnear=2915+Biddle+Ave,+Wyandotte,+Wayne,+Michigan+48192&amp;t=m&amp;ll=42.20398,-83.148909&amp;spn=0.012716,0.025663&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>
				
			<div class="location">
				<h3>PCK Greater Detroit Area Location</h3>
				<address>2915 Biddle Avenue, Suite 200</br>Wyandotte, MI 48192</address>
				
				<number>Local: <span>734-237-6406</span></number>
				<number class="right">Fax: <span>734-281-7102</span></number>
				<div class="email">Email: <%= mail_to('info@pck-law.com', 'info@pck-law.com') %></div>
			</div>
			
			<div class="hours">
				<h3>PCK Greater Detroit Area Office Hours</h3>
				<row>
					<div class="day">
						<span>Monday – Friday</span>                
					</div>
					
					<div class="time">
						<span>9:00am – 5:00pm</span>
					</div>
				</row>
				
				<row>
					<div class="day">
						<span>Saturday &amp; Sunday</span>                
					</div>

					<div class="time">
						<span>Closed</span>
					</div>
				</row>				
			</div>
			
			<%= image_tag'static/our-approach/pck-serves-the-chicago-metro-area.jpg', :alt => 'PCK Serves the Chicago Metro Area', :class => 'space' %>
			
			<p>NEEDS INFO... Serving the Chicago Metro Area... or please contact ______ for a Chicago Attorney.</p>

			<div class="map">
							<iframe width="300" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;hl=en&amp;q=2915+Biddle+Ave,+Wyandotte,+Wayne,+Michigan+48192&amp;sll=37.0625,-95.677068&amp;sspn=31.784549,76.201172&amp;ie=UTF8&amp;geocode=FVz7gwIdhD8L-w&amp;split=0&amp;hq=&amp;hnear=2915+Biddle+Ave,+Wyandotte,+Wayne,+Michigan+48192&amp;t=m&amp;ll=42.20398,-83.148909&amp;spn=0.012716,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;q=2915+Biddle+Ave,+Wyandotte,+Wayne,+Michigan+48192&amp;sll=37.0625,-95.677068&amp;sspn=31.784549,76.201172&amp;ie=UTF8&amp;geocode=FVz7gwIdhD8L-w&amp;split=0&amp;hq=&amp;hnear=2915+Biddle+Ave,+Wyandotte,+Wayne,+Michigan+48192&amp;t=m&amp;ll=42.20398,-83.148909&amp;spn=0.012716,0.025663&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>
				
			<div class="location">
				<h3>PCK Chicago Metro Area Location</h3>
				<address>0000 Name St. Suit 000</br>Chicago, IL 00000</address>
				
				<number>Local: <span>734-237-6406</span></number>
				<number class="right">Fax: <span>734-281-7102</span></number>
				<div class="email">Email: <%= mail_to('info@pck-law.com', 'info@pck-law.com') %></div>
			</div>
			
			<div class="hours">
				<h3>PCK Chicago Metro Area Office Hours</h3>
				<row>
					<div class="day">
						<span>Monday – Friday</span>                
					</div>
					
					<div class="time">
						<span>9:00am – 5:00pm</span>
					</div>
				</row>
				
				<row>
					<div class="day">
						<span>Saturday &amp; Sunday</span>                
					</div>

					<div class="time">
						<span>Closed</span>
					</div>
				</row>				
			</div>
			

		</div>
	</div>
</div>