<div class="site-contents" id="our-approach-page">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/our-approach') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Hours & Locations', '/our-approach') %></li>
					<li><%= link_to('Contact Us', '/contact-us') %></li>
					<li><%= link_to('PCK History', '/our-approach') %></li>
					<li><%= link_to('Testimonials', '/our-approach') %></li>
					<li><%= link_to("FAQ's", '/our-approach') %></li>
					<li><%= link_to('Office Tour', '/our-approach') %></li>
					<li><%= link_to('Community Involvement', '/our-approach') %></li>
					<li><%= link_to('Press Release', '/our-approach') %></li>
					<li><%= link_to('Law Publications', '/our-approach') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Our Approach</h1>
			
			<%= image_tag'static/our-approach/our-approach-to-legal-representation.jpg', :alt => 'Contact an Experience Litigation Attorney Now' %>
			
			<h2>Our Mission</h2>
			
			<p>We hold ourselves to a strict standard of legal representation. When you retain Pentiuk, Couvreur &amp; Kobiljak P.C., you can always expect our lawyers to be:</p>

			<p>- <b>Reliable:</b> You can count on our dependable attorneys to meet your expectations.</p>

			<p>- <b>Tenacious:</b> Symbolized by the bulldog, we are known as relentless advocates. We zealously and aggressively apply our legal knowledge, skills and experience to achieve the best possible results in all of our cases.</p>

			<p>- <b>Focused on excellence:</b> Our firm-wide continuing education requirements, extensive on-line library and memberships in professional associations give us the connections and wealth of knowledge needed to meet your needs.</p>

			<p>- <b>Solutions-oriented:</b> Our lawyers create solutions, rather than simply react to problems. We take a proactive approach using innovative resources and strategies.</p>

			<p>- <b>Communication-driven:</b> Communication is the cornerstone of our quality client relationships. We clearly and thoroughly advise you on the law and make recommendations that are informed, direct and honest.</p>

			<p>- <b>Accessible:</b> All of our attorneys are equipped with smartphones and home computers linked to the office so we can be available to our clients 24/7.  Our goal is to respond to emergencies within one hour and return all calls and emails within 24 hours.</p>

			<p>- <b>Efficient:</b> Invest in your business, not our law firm. We act with efficiency to provide results. Our prompt, resourceful actions save you time and expenses.</p>

		</div>
	</div>
</div>