<div class="site-contents">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar mid">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>
			
			<h2>REPRESENTING YOUR BUSINESS</h2>

			<p>Metro Detroit law firm Pentiuk, Couvreur &amp; Kobiljak P.C. represents businesses and individuals in litigation throughout Michigan and the Chicago area. Our litigation lawyers have more than 100 years of combined experience providing solid legal advice in all areas of law affecting your business, including in:</p>
			
			<ul>
				<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
				<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
				<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
				<li><%= link_to('Civil Rights Law', '/practice-areas/bankruptcy-law') %></li>
				<li><%= link_to('Class Action Law', '/practice-areas/bankruptcy-law') %></li>
				<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
				<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
				<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
				<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
				<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
				<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
				<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
			</ul>
			
			<ul>
			    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
			    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
			    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
			    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
			    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
			    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
			    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
			    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
			    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
			    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
			    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
			    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
			</ul>
			
			<div class="cb"></div>

			<h3>A litigation law firm to advocate for you</h3>
			<p>Even the best-run companies face legal problems from time to time. Having legal counsel always accessible and immediately ready to fight on your behalf diminishes the impact, costs and time involved in resolving your issues. Our experienced litigation team is prepared to act on your behalf in pretrial and litigation matters. In addition, we anticipate problems and advise you on minimizing the risks. By forming a strong foundation, we help you avoid disputes that lead to litigation.</p>

			<h3>Representing clients throughout Michigan</h3>
			<p>Our offices are located in Wyandotte, Michigan and Chicago, Illinois. We travel throughout Michigan to handle cases in every state and federal jurisdiction. If you are situated outside the state, consult Pentiuk, Couvreur &amp; Kobiljak P.C. about disputes that arise in Michigan. We build seamless cases for clients who face the prospect of having to deal with trials, arbitrations, appeals and administrative hearings far from home.</p>
				
			<%= link_to image_tag( 'banners-sub/contact-experienced-litigation-attorneys.jpg', :alt => 'Contact an Experience Litigation Attorney Now'), '/contact-us' %>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak P.C. has offices in Wyandotte, Michigan and Chicago, Illinois.</p>

			<p>Call Pentiuk, Couvreur &amp; Kobiljak P.C. at (734) 281-7100 or <%= link_to('Send Us a Message.', '/contact-us') %></p>
		</div>
	</div>
</div>