<div class="site-contents" id="resources-page">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/attorneys') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Federal Government Links', '/') %></li>
					<li><%= link_to('Local Government Links', '/') %></li>
					<li><%= link_to('Regional Links', '/') %></li>
				   	<li><%= link_to('State of Michigan Links', '/') %></li>
					<li><%= link_to('Michigan Court Links', '/') %></li>
					<li><%= link_to('District Courts Links', '/') %></li>
					<li><%= link_to('Circuit Courts Links', '/') %></li>
					<li><%= link_to('Friend of the Court Offices Links', '/') %></li>
					<li><%= link_to('Probate Courts Links', '/') %></li>
					<li><%= link_to('Trial Courts Links', '/') %></li>
				   	<li><%= link_to('Business Links', '/') %></li>
				   	<li><%= link_to('Small Business Links', '/') %></li>
				   	<li><%= link_to('Class Action Links', '/') %></li>
				   	<li><%= link_to('Consumer Protection Links', '/') %></li>
				   	<li><%= link_to('Creditors &amp; Collections Links', '/') %></li>
				   	<li><%= link_to('Cooperative Housing Links', '/') %></li>
				   	<li><%= link_to('Condominium Links', '/') %></li>
				   	<li><%= link_to('Credit Unions Links', '/') %></li>
				   	<li><%= link_to('Employment Law Links', '/') %></li>
					<li><%= link_to('Environmental Law Links', '/') %></li>
					<li><%= link_to('Divorce & Family Law Links', '/') %></li>
					<li><%= link_to('Municipal Law Links', '/') %></li>
					<li><%= link_to('Nonprofit Links', '/') %></li>
					<li><%= link_to('Our Favorites Links', '/') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Resources</h1>
			
			<h2>STATE OF MICHIGAN RESOURCES</h2>

			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

		</div>
	</div>
</div>