<div class="site-contents" id="our-approach-page">
	<div class="wrapper">
		<div class="indicator fifth"></div>
		
		<div class="sidebar long">
			<div class="directory">
				<%= link_to('', '/our-approach') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Hours & Locations', '/our-approach') %></li>
					<li><%= link_to('Contact Us', '/contact-us') %></li>
					<li><%= link_to('PCK History', '/our-approach') %></li>
					<li><%= link_to('Testimonials', '/our-approach') %></li>
					<li><%= link_to("FAQ's", '/our-approach') %></li>
					<li><%= link_to('Office Tour', '/our-approach') %></li>
					<li><%= link_to('Community Involvement', '/our-approach') %></li>
					<li><%= link_to('Press Release', '/our-approach') %></li>
					<li><%= link_to('Law Publications', '/our-approach') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Our Approach</h1>
			
			<h2>Testimonials</h2>
			<h4>Don’t take our work for it, just read our reviews.</h4>
			<p>Our customers depend on us to provide reliable, useful products and exceptional customer service. We do our best to meet and exceed their high standards. Here's what our customers say about our efforts</p>
	
			<%= image_tag'banners-sub/third-circuit-court-judge.jpg', :alt => 'Contact an Experience Litigation Attorney Now' %>
			
			<div class="statement">
				<div class="phrases">
					<span>WHAT THE JUDGES ARE SAYING</span>
					<span class="light">“professional courtesy”</span>
					<p>Third Circuit Court Judge</p>
				</div>
				
				<div class="quote">
					<span>Third Circuit Court Judge expresses heartfelt appreciation,</span>
					<blockquote>”. . . for the professional courtesy you have extended to me over the years . . . I can honestly say that my time as a judge has been a gratifying and valuable learning experience, thanks in part to individuals like you. It has been an honor and a privilege to work with you.”</blockquote>
				</div>
			</div>
			
			<%= image_tag'banners-sub/cooperative-client.jpg', :alt => 'Contact an Experience Litigation Attorney Now', :class => 'client' %>
			<div class="statement">
				<div class="phrases">
					<span>WHAT CLIENTS ARE SAYING</span>
					<span class="light">“making a difference”</span>
					<p>Cooperative Client</p>
				</div>
				
				<div class="quote">
					<span>Cooperative Client says,</span>
					<blockquote>“On behalf of our Cooperatives Members, Board of Directors and Management, we want to extend a hearty thank you for Co-Chairing our Annual Membership of Record Meeting.  Thank you for making a difference.”</blockquote>
				</div>
			</div>
			
			<div class="statement">
				<div class="phrases">
					<span>WHAT CLIENTS ARE SAYING</span>
					<span class="light">“commitment &amp; energy”</span>
					<p>Board President Comments</p>
				</div>
				
				<div class="quote">
					<span>Board President Comments,</span>
					<blockquote>“Congratulations on being named 2007 Michigan Super Lawyer. We understand the commitment and energy it takes to run a professional business and respect the fact that you make time to give back to your profession and your community, also. Congratulations and best wishes.”</blockquote>
				</div>
			</div>
			
			<div class="statement last">
				<div class="phrases">
					<span>WHAT CLIENTS ARE SAYING</span>
					<span class="light">“worth every minute”</span>
					<p>A Client Writes</p>
				</div>
				
				<div class="quote">
					<span>Client Writes,,</span>
					<blockquote>“I wish to thank you for taking the time to meet with me. It was an experience that was worth every minute. It means so much to me that there are people in the world like you. You’ve made a difference to me and I cannot thank you enough. I wish you well in your endeavors!”</blockquote>
				</div>
			</div>
			
			<%= link_to image_tag( 'banners-sub/contact-experienced-litigation-attorneys.jpg', :alt => 'Contact an Experience Litigation Attorney Now'), '/contact-us' %>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak P.C. has offices in Wyandotte, Michigan and Chicago, Illinois.</p>

			<p>Call Pentiuk, Couvreur &amp; Kobiljak P.C. at (734) 281-7100 or <%= link_to('Send Us a Message.', '/contact-us') %></p>
		</div>
	</div>
</div>