<div class="site-contents">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Resources</h1>

			<h2>Consumer Protection:</h2>
			
			<section>
				<h3><%= link_to('Federal Trade Commission', 'www.ftc.gov', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.ftc.gov', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('The National Do Not Call Registry', 'www.donotcall.gov/default.aspx', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.donotcall.gov/default.aspx', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('U.S. Consumer Protect Safety Commission', 'www.cpsc.gov', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.cpsc.gov', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Consumer Law Group P.C.', 'http://www.theconsumerlawgroup.com/', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.theconsumerlawgroup.com/', :target => '_blank') %></p>
			</secton>
		</div>
	</div>
</div>