<div class="site-contents">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Resources</h1>
			
			<h2>Legal Links:</h2>
			
			<section>
				<h3><%= link_to('Institute of Continuing Legal Education', 'https://www.icle.org/imispublic/asicommon/controls/shared/formsauthentication/login.aspx?returnurl=%2fimispublic%2fdefault.aspx', :target => '_blank') %></h3>
				<p>ICLE, The Institute of Continuing Legal Education provider of legal information, research tools, and education on the State Bar of Michigan... <%= link_to('Learn More', 'https://www.icle.org/imispublic/asicommon/controls/shared/formsauthentication/login.aspx?returnurl=%2fimispublic%2fdefault.aspx', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Legislative Service', 'http://www.legislature.mi.gov/(S(najw1n55bydtk2rqgjozey45))/mileg.aspx?page=home', :target => '_blank') %></h3>
				<p>The Michigan Legislative Service is a provider of free legislative resources and technologies. With cooperation from the Michigan Legislative Council, the Michigan House of Representatives, and the Michigan Senate... <%= link_to('Learn More', 'http://www.legislature.mi.gov/(S(najw1n55bydtk2rqgjozey45))/mileg.aspx?page=home', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Supreme Court', 'http://courts.mi.gov/courts/michigansupremecourt/pages/default.aspx', :target => '_blank') %></h3>
				<p>The Michigan Supreme Court of Justice and Court of Appeals. Maintains a directory of trial courts, (SCAO) State Court Administrative Office resources, and legal form applications... <%= link_to('Learn More', 'http://courts.mi.gov/courts/michigansupremecourt/pages/default.aspx', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Court of Appeals', 'http://courts.mi.gov/courts/coa/Pages/default.aspx', :target => '_blank') %></h3>
				<p>The Michigan Supreme Court of Justice and Court of Appeals. Maintains a directory of trial courts, (SCAO) State Court Administrative Office resources, and legal form applications... <%= link_to('Learn More', 'http://courts.mi.gov/courts/coa/Pages/default.aspx', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Appellate Digest', 'http://coa.courts.mi.gov/Digest/DigestLaunchPage.jsp', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://coa.courts.mi.gov/Digest/DigestLaunchPage.jsp', :target => '_blank') %></p>
			</section>
			 
			<section>
				<h3<%= link_to('>National Association of Parliamentarians', 'http://parliamentarians.org/', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://parliamentarians.org/', :target => '_blank') %></p> 
			</section>
			
			<section>
				<h3><%= link_to('U.S. Sixth Circuit Court of Appeals', 'www.ca6.uscourts.gov', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.ca6.uscourts.gov', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('U.S. District Court for Eastern District of Michigan', 'www.mied.uscourts.gov/index.html', :target => '_blank') %></h3> 
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.mied.uscourts.gov/index.html', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('U.S. Bankruptcy Court for Eastern District of Michigan', 'www.mieb.uscourts.gov', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.mieb.uscourts.gov', :target => '_blank') %></p>
			</section>
		</div>
	</div>
</div>