<div class="site-contents">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Resources</h1>
				
			<h2>Small Business Links</h2>
			
			<section>
				<h3><%= link_to('Hot Resources', 'http://michbusiness.org/', :target => '_blank') %></h3>
				<p>NEEDS INFO... <%= link_to('Learn More', 'http://michbusiness.org/', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Economic Development Corporation', 'http://medc.michigan.org', :target => '_blank') %></h3>
				<p>NEEDS INFO... <%= link_to('Learn More', 'http://medc.michigan.org', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Small Business Association', 'https://www.sbam.org/', :target => '_blank') %></h3>
				<p>NEEDS INFO... <%= link_to('Learn More', 'https://www.sbam.org/', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Small Business Development Corporation', 'www.misbtdc.org/', :target => '_blank') %></h3>
				<p>NEEDS INFO... <%= link_to('Learn More', 'www.misbtdc.org/', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Works', 'www.michiganworks.com', :target => '_blank') %></h3>
				<p>NEEDS INFO... <%= link_to('Learn More', 'www.michiganworks.com', :target => '_blank') %></p>
			</section>
	</div>
</div>