<div class="site-contents">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Resources</h1>

			<h2>State of Michigan Links</h2>
			
			<section>
				<h3><%= link_to('Michigan Administrative Code', 'www.michigan.gov/orr/0,1607,7-142--15520--,00.html', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.michigan.gov/orr/0,1607,7-142--15520--,00.html', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Attorney General', 'www.michigan.gov/ag', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.michigan.gov/ag', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Lawyers Weekly', 'www.michlaw.com', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.michlaw.com', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Official Website', 'www.michigan.gov', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.michigan.gov', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan State Tax Commission', 'www.michigan.gov/treasury', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.michigan.gov/treasury', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Department of Consumer & Industry Services', 'http://www.michigan.gov/lara', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.michigan.gov/lara', :target => '_blank') %></p>
			</section>
		</div>
	</div>
</div>