<div class="site-contents">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Resources</h1>

			<h2>Creditors &amp; Collections Links:</h2>
			
			<section>
				<h3><%= link_to('American Bankruptcy Institute', 'www.abiworld.org', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.abiworld.org', :target => '_blank') %></p> 
			</section>
			
			<section>
				<h3><%= link_to('Commercial Law League of America', 'www.clla.org', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.clla.org', :target => '_blank') %></p> 
			</section>
			
			<section>
				<h3><%= link_to('Free Advice for Creditors', 'bankruptcy-law.freeadvice.com/', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'bankruptcy-law.freeadvice.com/', :target => '_blank') %></p> 
			</section>
			
			<section>
				<h3><%= link_to('United States Trustee Program', 'www.usdoj.gov/ust', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.usdoj.gov/ust', :target => '_blank') %></p> 
			</section>
		</div>
	</div>
</div>