<div class="site-contents">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Resources</h1>
			
			<h2>Business Links</h2>
			
			<section>
				<h3><%= link_to('Internal Revenue Service', 'www.irs.gov', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.irs.gov', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Business Services', 'www.michiganbusiness.us/cat.php?niccer=409', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.michiganbusiness.us/cat.php?niccer=409', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Michigan Chamber of Commerce', 'www.michamber.com', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.michamber.com', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Monroe County Chamber of Commerce', 'monroemi.usachamber.com', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'monroemi.usachamber.com', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Securities and Exchange Commission', 'www.sec.gov', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.sec.gov', :target => '_blank') %></p>
			</section>
			
			<section>	
				<h3><%= link_to('Michigan Business Center', 'http://www.michigan.gov/business', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.michigan.gov/business', :target => '_blank') %></p>
			</section>
			
			<section>	
				<h3><%= link_to('U.S. Department of Commerce', 'www.doc.gov', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.doc.gov', :target => '_blank') %></p>
			</section>
			
			<section>	
				<h3><%= link_to('American Corporate Counsel Association', 'http://www.acc.com/', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.acc.com/', :target => '_blank') %></p>
			</section>
			
			<section>	
				<h3><%= link_to('FreeEDGAR', 'http://www.sec.gov/edgar.shtml', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.sec.gov/edgar.shtml', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('U.S. Business Advisor', 'http://business.usa.gov/', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://business.usa.gov/', :target => '_blank') %></p>
			</section>
		</div>
	</div>
</div>