<div class="site-contents" id="resources-page">
	<div class="wrapper">
		<div class="indicator eighth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Federal Government Links', '/resources/federal-government-links') %></li>
					<li><%= link_to('Local Government Links', '/resources/local-government-links') %></li>
					<li><%= link_to('Regional Links', '/resources/regional-links') %></li>
				   	<li><%= link_to('State of Michigan Links', '/resources/state-of-michigan-links') %></li>
				   	<li><%= link_to('Small Business Links', '/resources/small-business-links') %></li>
				   	<li><%= link_to('Class Action Links', '/resources/class-action-links') %></li>
				   	<li><%= link_to('Consumer Protection Links', '/resources/consumer-protection-links') %></li>
				   	<li><%= link_to('Creditors & Collections Links', '/resources/creditors-and-collections-links') %></li>
				   	<li><%= link_to('Cooperative Housing Links', '/resources/cooperative-housing-links') %></li>
				   	<li><%= link_to('Condominium Links', '/resources/condominium-links') %></li>
				   	<li><%= link_to('Credit Unions Links', '/resources/credit-unions-links') %></li>
				   	<li><%= link_to('Employment Law Links', '/resources/employment-law-links') %></li>
					<li><%= link_to('Environmental Law Links', '/resources/environmental-law-links') %></li>
					<li><%= link_to('Divorce & Family Law Links', '/resources/divorce-and-Family-Law-Links') %></li>
					<li><%= link_to('Municipal Law Links', '/resources/municipal-law-links') %></li>
					<li><%= link_to('Nonprofit Links', '/resources/nonprofit-links') %></li>
					<li><%= link_to('Our Favorites Links', '/resources/our-favorites-links') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Resources</h1>

			<h2>Consumer Protection:</h2>
			
			<div class="resources">
				<h3><%= link_to('Federal Trade Commission', 'www.ftc.gov', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.ftc.gov', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('The National Do Not Call Registry', 'www.donotcall.gov/default.aspx', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.donotcall.gov/default.aspx', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('U.S. Consumer Protect Safety Commission', 'www.cpsc.gov', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.cpsc.gov', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Consumer Law Group P.C.', 'http://www.theconsumerlawgroup.com/', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.theconsumerlawgroup.com/', :target => '_blank') %></span>
			</secton>
		</div>
	</div>
</div>