<div class="site-contents">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Resources</h1>
			
			<h2>Cooperative Housing Links</h2>
			
			<section>
				<h3><%= link_to('PCK Cooperative housing', 'http://www.pck-cooplaw.com/', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('', 'http://www.pck-cooplaw.com/', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Co-op Housing Coalition', 'www.coopsdc.org', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.coopsdc.org', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Housing & Urban Development', 'www.hud.gov', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.hud.gov', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Midwest Association of Housing Cooperatives', 'www.mahc.coop', :target => '_blank') %></h3> 
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.mahc.coop', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('National Association of Housing Cooperatives', 'www.coophousing.org', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.coophousing.org', :target => '_blank') %></p>
			</section>	
					
			<section>
				<h3><%= link_to('National Cooperative Bank', 'www.ncb.coop', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.ncb.coop', :target => '_blank') %></p>
			</section>
							
			<section>
				<h3><%= link_to('University of Wisconsin Center for Cooperatives', 'www.uwcc.wisc.edu', :target => '_blank') %></h3> 
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.uwcc.wisc.edu', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('National Cooperative Business Association', 'http://www.ncba.coop/', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.ncba.coop/', :target => '_blank') %></p>	
			</section>
		</div>
	</div>
</div>