<div class="site-contents" id="resources-page">
	<div class="wrapper">
		<div class="indicator tenth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Federal Government Links', '/resources/federal-government-links') %></li>
					<li><%= link_to('Local Government Links', '/resources/local-government-links') %></li>
					<li><%= link_to('Regional Links', '/resources/regional-links') %></li>
				   	<li><%= link_to('State of Michigan Links', '/resources/state-of-michigan-links') %></li>
				   	<li><%= link_to('Small Business Links', '/resources/small-business-links') %></li>
				   	<li><%= link_to('Class Action Links', '/resources/class-action-links') %></li>
				   	<li><%= link_to('Consumer Protection Links', '/resources/consumer-protection-links') %></li>
				   	<li><%= link_to('Creditors & Collections Links', '/resources/creditors-and-collections-links') %></li>
				   	<li><%= link_to('Cooperative Housing Links', '/resources/cooperative-housing-links') %></li>
				   	<li><%= link_to('Condominium Links', '/resources/condominium-links') %></li>
				   	<li><%= link_to('Credit Unions Links', '/resources/credit-unions-links') %></li>
				   	<li><%= link_to('Employment Law Links', '/resources/employment-law-links') %></li>
					<li><%= link_to('Environmental Law Links', '/resources/environmental-law-links') %></li>
					<li><%= link_to('Divorce & Family Law Links', '/resources/divorce-and-Family-Law-Links') %></li>
					<li><%= link_to('Municipal Law Links', '/resources/municipal-law-links') %></li>
					<li><%= link_to('Nonprofit Links', '/resources/nonprofit-links') %></li>
					<li><%= link_to('Our Favorites Links', '/resources/our-favorites-links') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Resources</h1>
			
			<h2>Cooperative Housing Links</h2>
			
			<div class="resources">
				<h3><%= link_to('PCK Cooperative housing', 'http://www.pck-cooplaw.com/', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('', 'http://www.pck-cooplaw.com/', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Co-op Housing Coalition', 'www.coopsdc.org', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.coopsdc.org', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Housing & Urban Development', 'www.hud.gov', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.hud.gov', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Midwest Association of Housing Cooperatives', 'www.mahc.coop', :target => '_blank') %></h3> 
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.mahc.coop', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('National Association of Housing Cooperatives', 'www.coophousing.org', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.coophousing.org', :target => '_blank') %></span>
			</div>	
					
			<div class="resources">
				<h3><%= link_to('National Cooperative Bank', 'www.ncb.coop', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.ncb.coop', :target => '_blank') %></span>
			</div>
							
			<div class="resources">
				<h3><%= link_to('University of Wisconsin Center for Cooperatives', 'www.uwcc.wisc.edu', :target => '_blank') %></h3> 
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.uwcc.wisc.edu', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('National Cooperative Business Association', 'http://www.ncba.coop/', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.ncba.coop/', :target => '_blank') %></span>	
			</div>
		</div>
	</div>
</div>