<div class="site-contents">
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Resources</h1>

			<h2>Local Government Links</h2>
				
			<section>
				<h3><%= link_to('County of Wayne', 'www.3rdcc.org', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO...... <%= link_to('Learn More', 'www.3rdcc.org', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Wyane County Commission', 'www.waynecounty.com/commission', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.waynecounty.com/commission', :target => '_blank') %></p> 
			</section>
			
			<section>
				<h3><%= link_to('Wyane County Circuit Court', 'https://www.3rdcc.org/', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'https://www.3rdcc.org/', :target => '_blank') %></p>
			</section>
			
			<section>
				<h3><%= link_to('Wyane County Clerk', 'http://www.co.wayne.mi.us/clerk.html', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.co.wayne.mi.us/clerk.html', :target => '_blank') %></p>					
			</section>
				
			<section>
				<h3><%= link_to('Wyane County Registrar of Deeds', 'http://www.co.wayne.mi.us/deeds.html', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.co.wayne.mi.us/deeds.html', :target => '_blank') %></p>				
			</section>
				
			<section>
				<h3><%= link_to('Wyane County Treasurer', 'http://www.co.wayne.mi.us/treasurer.html', :target => '_blank') %></h3>
				<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'http://www.co.wayne.mi.us/treasurer.html', :target => '_blank') %></p>			
			</section>
			
			<section>
		   		<h3><%= link_to('City of Detroit', 'www.ci.detroit.mi.us', :target => '_blank') %></h3>
		   		<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.ci.detroit.mi.us', :target => '_blank') %></p>
		   	</section>
			
			<section>
		   		<h3><%= link_to('City of Melvindale', 'www.melvindale.org', :target => '_blank') %></h3>
		   		<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.melvindale.org', :target => '_blank') %></p>
		   	</section>
		
			<section>
		   		<h3><%= link_to('City of Riverview', 'www.cityofriverview.com', :target => '_blank') %></h3>
		   		<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.cityofriverview.com', :target => '_blank') %></p>
		   	</section>
		
			<section>
		   		<h3><%= link_to('City of Taylor', 'www.cityoftaylor.com', :target => '_blank') %></h3>
		   		<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.cityoftaylor.com', :target => '_blank') %></p>
		   	</section>
		
			<section>
		   		<h3><%= link_to('City of Wyandotte', 'www.wyandotte.net', :target => '_blank') %></h3>
		   		<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.wyandotte.net', :target => '_blank') %></p>
		   	</section>
			
			<section>
		   		<h3><%= link_to('Detroit’s Thirty-sixth District Court', 'www.36thdistrictcourt.org', :target => '_blank') %></h3>
		   		<p>NEEDS SMALL INTRO... <%= link_to('Learn More', 'www.36thdistrictcourt.org', :target => '_blank') %></p>
			</section>
		</div>
	</div>
</div>