<div class="site-contents" id="resources-page">
	<div class="wrapper">
		<div class="indicator sixth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Federal Government Links', '/resources/federal-government-links') %></li>
					<li><%= link_to('Local Government Links', '/resources/local-government-links') %></li>
					<li><%= link_to('Regional Links', '/resources/regional-links') %></li>
				   	<li><%= link_to('State of Michigan Links', '/resources/state-of-michigan-links') %></li>
				   	<li><%= link_to('Small Business Links', '/resources/small-business-links') %></li>
				   	<li><%= link_to('Class Action Links', '/resources/class-action-links') %></li>
				   	<li><%= link_to('Consumer Protection Links', '/resources/consumer-protection-links') %></li>
				   	<li><%= link_to('Creditors & Collections Links', '/resources/creditors-and-collections-links') %></li>
				   	<li><%= link_to('Cooperative Housing Links', '/resources/cooperative-housing-links') %></li>
				   	<li><%= link_to('Condominium Links', '/resources/condominium-links') %></li>
				   	<li><%= link_to('Credit Unions Links', '/resources/credit-unions-links') %></li>
				   	<li><%= link_to('Employment Law Links', '/resources/employment-law-links') %></li>
					<li><%= link_to('Environmental Law Links', '/resources/environmental-law-links') %></li>
					<li><%= link_to('Divorce & Family Law Links', '/resources/divorce-and-Family-Law-Links') %></li>
					<li><%= link_to('Municipal Law Links', '/resources/municipal-law-links') %></li>
					<li><%= link_to('Nonprofit Links', '/resources/nonprofit-links') %></li>
					<li><%= link_to('Our Favorites Links', '/resources/our-favorites-links') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Resources</h1>
				
			<h2>Small Business Links</h2>
			
			<div class="resources">
				<h3><%= link_to('Hot Resources', 'http://michbusiness.org/', :target => '_blank') %></h3>
				<span>NEEDS INFO... <%= link_to('Learn More', 'http://michbusiness.org/', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Economic Development Corporation', 'http://medc.michigan.org', :target => '_blank') %></h3>
				<span>NEEDS INFO... <%= link_to('Learn More', 'http://medc.michigan.org', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Small Business Association', 'https://www.sbam.org/', :target => '_blank') %></h3>
				<span>NEEDS INFO... <%= link_to('Learn More', 'https://www.sbam.org/', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Small Business Development Corporation', 'www.misbtdc.org/', :target => '_blank') %></h3>
				<span>NEEDS INFO... <%= link_to('Learn More', 'www.misbtdc.org/', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Works', 'www.michiganworks.com', :target => '_blank') %></h3>
				<span>NEEDS INFO... <%= link_to('Learn More', 'www.michiganworks.com', :target => '_blank') %></span>
			</div>
	</div>
</div>