<div class="site-contents" id="resources-page">
	<div class="wrapper">
		<div class="indicator fifth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Federal Government Links', '/resources/federal-government-links') %></li>
					<li><%= link_to('Local Government Links', '/resources/local-government-links') %></li>
					<li><%= link_to('Regional Links', '/resources/regional-links') %></li>
				   	<li><%= link_to('State of Michigan Links', '/resources/state-of-michigan-links') %></li>
				   	<li><%= link_to('Small Business Links', '/resources/small-business-links') %></li>
				   	<li><%= link_to('Class Action Links', '/resources/class-action-links') %></li>
				   	<li><%= link_to('Consumer Protection Links', '/resources/consumer-protection-links') %></li>
				   	<li><%= link_to('Creditors & Collections Links', '/resources/creditors-and-collections-links') %></li>
				   	<li><%= link_to('Cooperative Housing Links', '/resources/cooperative-housing-links') %></li>
				   	<li><%= link_to('Condominium Links', '/resources/condominium-links') %></li>
				   	<li><%= link_to('Credit Unions Links', '/resources/credit-unions-links') %></li>
				   	<li><%= link_to('Employment Law Links', '/resources/employment-law-links') %></li>
					<li><%= link_to('Environmental Law Links', '/resources/environmental-law-links') %></li>
					<li><%= link_to('Divorce & Family Law Links', '/resources/divorce-and-Family-Law-Links') %></li>
					<li><%= link_to('Municipal Law Links', '/resources/municipal-law-links') %></li>
					<li><%= link_to('Nonprofit Links', '/resources/nonprofit-links') %></li>
					<li><%= link_to('Our Favorites Links', '/resources/our-favorites-links') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Resources</h1>

			<h2>State of Michigan Links</h2>
			
			<div class="resources">
				<h3><%= link_to('Michigan Legislative Service', 'http://www.legislature.mi.gov/(S(gr1pzb55lllr4viknmp2eo55))/mileg.aspx?page=home', :target => '_blank') %></h3>
				<span>The Michigan Legislative Service is a provider of free legislative resources and technologies. With cooperation from the Michigan Legislative Council, the Michigan House of Representatives, and the Michigan Senate. <%= link_to('View Site', 'http://www.legislature.mi.gov/(S(gr1pzb55lllr4viknmp2eo55))/mileg.aspx?page=home', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Supreme Court', 'http://courts.michigan.gov/courts/michigansupremecourt/pages/default.aspx', :target => '_blank') %></h3>
				<span>The Michigan supreme court of justice and court of appeals. Maintains a directory of trial courts, (SCAO) State Court Administrative Office resources, and legal form applications. <%= link_to('View Site', 'http://courts.michigan.gov/courts/michigansupremecourt/pages/default.aspx', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Court of Appeals', 'http://courts.mi.gov/courts/coa/Pages/default.aspx', :target => '_blank') %></h3>
				<span>Created in 1963 by Michigan Constitution as an intermediated-level appellate court. This court of appeals provides information on case inquiry, fillings made, order and opinions, rules, judges, and cases filed. <%= link_to('View Site', 'http://courts.mi.gov/courts/coa/Pages/default.aspx', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Administrative Code', 'www.michigan.gov/orr/0,1607,7-142--15520--,00.html', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('View Site', 'www.michigan.gov/orr/0,1607,7-142--15520--,00.html', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Attorney General', 'www.michigan.gov/ag', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('View Site', 'www.michigan.gov/ag', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Lawyers Weekly', 'www.michlaw.com', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('View Site', 'www.michlaw.com', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Official Website', 'www.michigan.gov', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('View Site', 'www.michigan.gov', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan State Tax Commission', 'www.michigan.gov/treasury', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('View Site', 'www.michigan.gov/treasury', :target => '_blank') %></span>
			</div>
			
			<div class="resources">
				<h3><%= link_to('Michigan Department of Consumer & Industry Services', 'http://www.michigan.gov/lara', :target => '_blank') %></h3>
				<span>NEEDS SMALL INTRO... <%= link_to('View Site', 'http://www.michigan.gov/lara', :target => '_blank') %></span>
			</div>
		</div>
	</div>
</div>