<div class="site-contents">
	<div class="headline">
		<h2>Practice Areas</h2>
	</div>
	
	<div class="wrapper">
		<div class="indicator"></div>
		
		<div class="sidebar">
		</div>
		
		<div class="copy">
			<h1>Business Law</h1>
			
			<p>The business lawyers at Pentiuk, Couvreur &amp; Kobiljak are experienced with the vast array of issues that confront businesses and professionals. Whether the client is a new sole proprietorship or a national corporation, a doctor or a limited liability company doing business in a number of states, we stand ready to help.</p>

			<p>Among the types of matters we routinely handle are:</p>
			
			<ul>
				<li>Creation of the business entity, described in more detail in our <%= link_to('Corporation, Partnership &amp; Limited Liability Company practice area.', '/practice-areas/corporation-partnership-and-limited-liability-company-practice-area') %> </li>				
				<li>Arrangement of ownership interests among shareholders, partners or members.</li>
				<li>Transfers of ownership interests.</li>
				<li>Disputes among the owners, including valuation and buy-out issues.</li>
				<li>Tax matters, including property tax appeals, and disputes with state or federal authorities.</li>
				<li>Dealing with government regulations, such as HIPPA, FLSA, ADA, and COBRA.</li>
				<li>Developing officer and shareholder agreements, including key person agreements, buy-sell agreements, and severance agreements.</li>
				<li>Drafting or reviewing contracts with customers, lenders, suppliers and other vendors, described in our </li><%= link_to('Commercial Law practice area..', '/practice-areas/commercial-law-practice-area') %> </li>
				<li>Collection problems, including bankruptcies, described in greater detail in our <%= link_to('Collections', '/practice-areas/collections-law') %> and <%= link_to('Bankruptcy Practice Areas.', '/practice-areas/bankruptcy-law') %> </li>
				<li>Employee issues, such as creating effective non-compete agreements, discipline and terminations, layoffs, unemployment claims, wrongful discharge suits, and civil rights claims, described in our <%= link_to('Employment Law', '/practice-areas/employment-law') %> and <%= link_to('Civil Rights practice areas.', '/practice-areas/civil-rights-practice-areas') %> </li>
				<li>Criminal investigations and prosecutions by state, local or federal agencies, described in our <%= link_to('Criminal Law practice area.', '/practice-areas/criminal-law') %> </li>
				<li>Lawsuits of all types - either as plaintiff or as defendant, described in our <%= link_to('Civil Litigation and Appeals practice area.', '/practice-areas/civil-litigation-trials-and-appeals') %> </li>

		</div>
	</div>
</div>