<div class="site-contents">
	<div class="wrapper">
		<div class="indicator third"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/civil-rights-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/class-action-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>
			
			<h2>Business Law</h2>
			
			<p>The business lawyers at Pentiuk, Couvreur &amp; Kobiljak are experienced with the vast array of issues that confront businesses and professionals. Whether the client is a new sole proprietorship or a national corporation, a doctor or a limited liability company doing business in a number of states, we stand ready to help.</p>

			<h4>Among the types of matters we routinely handle are:</h4>
			
			<ul class="wide">
				<li>Creation of the business entity, described in more detail in our <%= link_to('Corporation, Partnership &amp; Limited Liability Company practice area.', '/practice-areas/corporation-partnership-and-limited-liability-company-practice-area') %> </li>				
				<li>Arrangement of ownership interests among shareholders, partners or members.</li>
				<li>Transfers of ownership interests.</li>
				<li>Disputes among the owners, including valuation and buy-out issues.</li>
				<li>Tax matters, including property tax appeals, and disputes with state or federal authorities.</li>
				<li>Dealing with government regulations, such as HIPPA, FLSA, ADA, and COBRA.</li>
				<li>Developing officer and shareholder agreements, including key person agreements, buy-sell agreements, and severance agreements.</li>
				<li>Drafting or reviewing contracts with customers, lenders, suppliers and other vendors, described in our </li><%= link_to('Commercial Law practice area..', '/practice-areas/commercial-law-practice-area') %> </li>
				<li>Collection problems, including bankruptcies, described in greater detail in our <%= link_to('Collections', '/practice-areas/collections-law') %> and <%= link_to('Bankruptcy Practice Areas.', '/practice-areas/bankruptcy-law') %> </li>
				<li>Employee issues, such as creating effective non-compete agreements, discipline and terminations, layoffs, unemployment claims, wrongful discharge suits, and civil rights claims, described in our <%= link_to('Employment Law', '/practice-areas/employment-law') %> and <%= link_to('Civil Rights practice areas.', '/practice-areas/civil-rights-practice-areas') %> </li>
				<li>Criminal investigations and prosecutions by state, local or federal agencies, described in our <%= link_to('Criminal Law practice area.', '/practice-areas/criminal-law') %> </li>
				<li>Lawsuits of all types - either as plaintiff or as defendant, described in our <%= link_to('Civil Litigation and Appeals practice area.', '/practice-areas/civil-litigation-trials-and-appeals') %> </li>

		</div>
	</div>
</div>