<div class="site-contents">
	<div class="wrapper">
		<div class="indicator sixth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/civil-rights-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/class-action-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>
			
			<h2>Class Action Law</h2>
			
			<p>The class action lawyers at Pentiuk, Couvreur &amp; Kobiljak, P.C. are experienced in representing both plaintiffs and defendants in these complex cases. Class actions are a device used to consolidate claims of many plaintiffs into a single lawsuit where there is a common injury and one or a small group of plaintiffs that the judge deems to be an adequate representative of the other plaintiffs. The goal of the class action is to achieve an efficient use of the judicial system by having a single case instead of dozens, hundreds or even thousands of individual lawsuits. It is often used when the injury on an individual basis is small, but collectively large among the class of plaintiffs.</p>

			<h4>Examples of cases that lend themselves to class action status include:</h4>
			
			<ul class="wide">
				 <li>Consumer scams and frauds.</li>
				 <li>Environmental cases, like air or water pollution.</li>
				 <li>Investor fraud.</li>
				 <li>Civil rights violations.</li>
				 <li>Defective products.</li>
				 <li>Constitutional or statutory violations.</li>
			</ul>
			
			<p>While there are many types of fee agreements available for such cases, the most common is the contingency arrangement, where the attorney receives a portion of the recovery. Such fees in class action lawsuits require court approval. Potential plaintiffs who are not chosen as class representatives receive notification and are given the opportunity to remove themselves from the class, thus allowing such individuals the right to proceed with their own lawsuit, should they choose to do so.</p>
		</div>
	</div>
</div>