<div class="site-contents">
	<div class="wrapper">
		<div class="indicator eighth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/civil-rights-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/class-action-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>

			<h2>Commercial Law</h2>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak's commercial law attorneys provide legal representation to merchants and others in commerce as these clients deal with the intricacies of various state and federal laws relating to sales of goods and services.</p>

			<h4>Our practice includes matters such as:</h4>
			
			<ul class="wide">
				<li>Drafting contracts and documents in compliance with the Uniform Commercial Code and other relevant laws for the sale or purchase of goods or services.</li>
			  	<li>Documenting and recording liens and interests to protect merchants and suppliers as to payment rights.</li>
			  	<li>Enforcement of liens and interests of merchants and suppliers, including foreclosure proceedings.</li>
			  	<li><%= link_to('Lawsuits', '/practice-areas/_civil-litigation-trials-and-appeals') %> for breach of contract.</li>
			  	<li>Alternative dispute resolution of claims, including arbitration and mediation.</li>
			</ul>
		</div>
	</div>
</div>