<div class="site-contents">
	<div class="wrapper">
		<div class="indicator ninth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/civil-rights-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/class-action-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>

			<h2>Condominium Law</h2>
			
			<h4>The condominium attorneys of Pentiuk, Couvreur &amp; Kobiljak provide assistance to the boards of condo associations in the following areas:</h4>
			
			<ul class="wide">
				<li>Enforcement of the association rights to collect assessments from condominium co-owners, including foreclosure actions.</li>
				<li>Interpretation and amendment of the master deed and condominium bylaws, and the enforcement of rules against offending co-owners.</li>
				<li>Selection, hiring and terminating management companies.</li>
				<li>Litigation against developers, including building defects, control disputes and breach of warranties. Our litigation expertise is described in the <%= link_to('Civil Lawsuits Trials and Appeals practice area.','/practice-areas/_civil-litigation-trials-and-appeals') %></li>
				<li>Tax appeals, including negotiations with the local assessor, appearing before the board of review, and litigating cases in the Michigan Tax Tribunal.</li>
				<li>Drafting and enforcing contracts with vendors and suppliers, including litigating breach of contract and breach of warranty actions, and construction lien issues.</li>
			</ul>
			
			<p>Our Law Firm represents condominium associations throughout southeast Michigan and in the northwest area of the Lower Peninsula.</p>
		</div>
	</div>
</div>