<div class="site-contents">
	<div class="wrapper">
		<div class="indicator eleventh"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/civil-rights-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/class-action-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>
			
			<h2>Cooperative Housing Law</h2>
			
			<p>The cooperative housing attorneys of Pentiuk, Couvreur &amp; Kobiljak are recognized as leading experts in the cooperative housing field in Michigan. Mr. Pentiuk serves on the boards of the Midwest Association of Housing Cooperatives (MAHC) and the National Association of Housing Cooperatives (NAHC). He also serves as the Michigan Vice President for MAHC, and is a frequent lecturer at MAHC and NAHC conferences. In addition, he co-founded the Future of Cooperative Housing as a training center for cooperative boards facing decisions associated with HUD, mortgage payoffs and refinancing.</p>

			<p>Our cooperative housing attorneys represent cooperatives formed under the National Housing Act, including section 213, 236 and 221(d)(3) cooperatives, and those known as below market interest rate or BMIR's as well as others formed under state law.</p>

			<p>Mr. Pentiuk and the other cooperative housing attorneys of the firm represent the board of cooperatives in all legal matters, among which are:</p>
			
			<ul class="wide">
				<li>Drafting bylaws &amp; articles of incorporation</li>
			   	<li>Drafting board policies, rules &amp; regulations</li>
			   	<li>Conducting membership meetings and elections</li>
			   	<li>Termination of membership for rule violations or nonpayment evictions</li>
			   	<li>Advising on satellite dish rules of the FCC and cable television matters</li>
			   	<li>Representing the cooperative in property tax appeals</li>
			   	<li>Assisting the board in selecting and negotiating with management agents</li>
			   	<li>Representing the cooperative in lawsuits</li>
			   	<li>Representing the cooperative in HUD and MSHDA proceedings, including challenges to REAC inspections</li>
			</ul>
			
			<p>With many cooperatives reaching the point of original mortgage payoff, our cooperative housing attorneys provide legal assistance to boards of cooperatives in the following areas:</p>
			
			<ul class="wide">
				<li>Options available to the cooperative, such as converting from limited equity to market rate or to condominium; and making presentations to the membership concerning these choices.</li>
			   	<li>Early payoff of mortgages, and refinancing the mortgages.</li>
			   	<li>Ending the HUD Regulatory Agreement, and where necessary, negotiating and drafting the Use Agreement with HUD.</li>
			   	<li>Drafting amendments to the bylaws and articles of incorporation.</li>
			   	<li>Securing share loan lenders and drafting the Recognition Agreement.</li>
			   	<li>Negotiations relating to flex sub loans and IRPs (Interest Reductions Programs).</li>
			</ul>
			
			<p>Please visit our website, devoted to cooperative housing law at <%= link_to('michcooplaw.com', '/') %> </p>
			
		</div>
	</div>
</div>