<div class="site-contents">
	<div class="wrapper">
		<div class="indicator twelfth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/civil-rights-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/class-action-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>
			
			<h2>Corporate Partnership &amp; Limited Liability Company Law</h2>
			
			<p>Pentiuk, Couvreur &amp; Kobiljak's corporate lawyers assist clients with new business ventures and existing ones by guiding them in selecting and maintaining the proper business form to take full advantage of tax benefits and limited liability. We have experience in the formation and on-going affairs of the various types of corporations, whether it be a subchapter S, a professional service corporation, or a C corporation, Limited Liability Company, a partnership or a sole proprietorship.</p>
			
			<p>Our corporate attorneys counsel clients in making the proper choices, filing the correct articles, applications or other papers, and in meeting the strict requirements of keeping the chosen entity intact to preserve the tax advantages and protect against efforts to pierce the entity's veil and reach the personal assets of the owners.</p>
			
			<h4>On an ongoing basis, we confer with our business clients to provide guidance on emerging challenges, such as:</h4>
			
			<ul class="wide">
				<li>Internal disputes among the owners.</li>
				<li>Drafting bylaws, minutes and agreements among the owners.</li>
				<li>Negotiating and preparing buy-sell agreements, key officer agreements and compensation packages.</li>
				<li>Negotiating and preparing stock purchase agreements.</li>
			</ul>
			
			<h4>As the business matures, there may come a time when it is necessary to undertake change to its structure or ownership. Pentiuk, Couvreur &amp; Kobiljak's corporate lawyers are there to help in such matters as:</h4>
			
			<ul class="wide">
				<li>Transferring stock or assets to new owners, including providing guidance and drafting the documents to facilitate handing the business down to younger family members.</li>
				<li>Dissolving the business.</li>
				<li>Valuation of the business.</li>
				<li><%= link_to('Litigation', '/practice-areas/_civil-litigation-trials-and-appeals') %> among the owners.</li>
				<li>Expanding the old business into new entities, formation of holding companies, or spinning off divisions into subsidiary entities.</li>
			</ul>
			
			<p>Whatever the challenge may be, Pentiuk, Couvreur &amp; Kobiljak will be at our client's side to provide personal attention and professional services.</p>
		</div>
	</div>
</div>