<div class="site-contents">
	<div class="wrapper">
		<div class="indicator thirteenth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/civil-rights-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/class-action-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>
			
			<h2>Credit Union Law</h2>
			
			<p>Because of our substantial experience over the last two decades, we have developed the expertise to handle all legal situations, which confront either a Federal or State credit union. The areas of service discussed herein are merely illustrative of our experience and should not be considered as exhaustive.</p>

			<h3>COLLECTIONS</h3>

			<p>Pentiuk, Couvreur &amp; Kobiljak, P.C. assists our credit union clients by sending strongly worded letters to delinquent debtors, which often results in an early resolution of the matter. If that course of action fails or if the client has already done this step, we immediately file suit and aggressively pursue the matter through the judicial process. Once we receive a judgment, we are relentless in our pursuit of the delinquent member until the judgment is paid in full. Where collateral is involved, we not only work closely with our client in repossessing it, but will also utilize the court system to have it surrendered by way of execution or forfeiture through the use of Court officers and Repossession companies.</p>

			<p>As we develop a working relationship with a credit union client, we become familiar with the procedures utilized by the credit union in making loans, which enables us to provide advice to the client regarding the loan process and collateralization. We view our role not only as the credit union's lawyer, but also as its counsellor and, in that regard, will therefore, make recommendations to minimize potential collection problems and bankruptcies.</p>

			<h3>BANKRUPTCY LAW</h3>

			<p>With the rapid increase of bankruptcies, our firm recognizes the significance of bankruptcies on all sizes of credit unions. Our firm has extensive background in representing creditors in the bankruptcy courts. We attend all ' 341 first meeting of creditors, attend confirmation hearings, review a debtor' s bankruptcy file, take debtor's depositions and if sufficient grounds are present, file adversary complaints in order to object to the discharge of debts. We strive to reaffirm or confirm all debts for the full dollar amount owing. Our memberships in state and national organizations of bankruptcy attorneys enable us to keep abreast of developments in this specialized field.</p>

			<h3>CORPORATION COUNSEL / POLICY WORK</h3>

			<p>Our representation of Credit Unions goes beyond the usual collections and bankruptcies; we additionally provide counsel and representation in a broad range of issues that confront our clients. This representation entails, reviewing credit union's policies, drafting and presenting new or revised policies (e.g 2003 Patriotic Act Policy), and handling labor/MESC matters. Additional examples of credit union representation include advising on Probate Court Orders, Circuit Court Orders, Estate Planning documentation, employment and personnel matters, real estate transactions and dealing with subpoenas. The breadth and depth of the attorneys in our firm allow us to provide such services quickly and efficiently so that our clients find that they can usually obtain a cost-effective response in short order.</p>
		</div>
	</div>
</div>