<div class="site-contents">
	<div class="wrapper">
		<div class="indicator fourteenth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/civil-rights-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/class-action-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>
			
			<h2>Criminal Law</h2>
			
			<p>The criminal defense attorneys at Pentiuk, Couvreur &amp; Kobiljak, P.C. are experienced in both the trial and appellate courts of Michigan, and are prepared to represent clients charged with crimes under Michigan or federal law.</p>
			
			<h4>While no means exhaustive, the following are common types of criminal cases we can assist our clients with:</h4>
			
			<ul>
		   		<li>Drunk driving offenses.</li>
		   		<li>Serious traffic offenses.</li>
		   		<li>Reckless driving.</li>
		   		<li>Driving while license suspended.</li>
		   		<li>All Misdemeanor cases.</li>
				<li>Assault &amp; battery / Domestic Violence.</li>
			</ul>
			
			<ul>
		   		<li>Larceny and embezzlement.</li>
		   		<li>Felonies (non-capital offenses).</li>
		   		<li>Drug charges.</li>
		   		<li>Parental neglect.</li>
		   		<li>White collar crimes.</li>
			</ul>
			
			<div class="cb"></div>
			
			<p>Mr. Hurley, of our firm, served as house defense counsel in the Dearborn courts for many years. Similarly, other attorneys at Pentiuk, Couvreur &amp; Kobiljak, as well as Mr. Hurley have served as prosecutor for several municipalities and are experts in handling criminal cases. Mr. Pentiuk served as a Research Attorney for the Michigan Court of Appeals where he gained the appellate judicial perspective of criminal law, and he also served as assigned appellate counsel for dozens of criminal appeals.</p>

			<p>Beyond representing clients in trials and appeals of criminal cases, our criminal defense attorneys work for clients before driver license appeal boards, to mitigate against adverse drivers license actions by the Secretary of State. We handle driver license revocation hearings and circuit court restoration hearings for those who have had drinking related offenses, too many points on their driving records, or similar problems.<p>
		</div>
	</div>
</div>