<div class="site-contents">
	<div class="wrapper">
		<div class="indicator sixteenth"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/civil-rights-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/class-action-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>
			
			<h2>Employment &amp; Labor Law</h2>
			
			<h4>The labor lawyers of Pentiuk, Couvreur &am; Kobiljak, P.C. work with public and private sector management in virtually every employment context, including:</h4>
			
			<ul class="wide">
				<li>Collective bargaining contract negotiations and administration.</li>
				<li>Grievances, arbitrations, mediations and facilitations, including Act 312 arbitrations.</li>
				<li>Unfair labor practice charges.</li>
				<li>Union certification, decertification and accretion issues.</li>
				<li>Employee discipline and discharge.</li>
				<li>Unemployment compensation cases.</li>
				<li>Discrimination charges and investigations by the EEOC, the Department of Justice, and the Michigan Department of Civil Rights.</li>
				<li>Sexual harassment training and investigations.</li>
				<li>Employee policies and manuals.</li>
				<li>ADA and FLMA Policies.</li>
				<li>Severance packages and agreements.</li>
				<li>Layoffs and compliance with state and federal laws related thereto.</li>
				<li>Pension issues.</li>
				<li>Wrongful discharge lawsuits.</li>
				<li>Whistleblower lawsuits.</li>
				<li>Civil Service matters, including Veterans Preference Act issues.</li>
				<li>Police Trial Board hearings.</li>
				<li>Public Safety Commission proceedings.</li>
				<li>Promotional and hiring procedures and challenges.</li>
				<li>If you have just been fired, we obtain your employment file and draft a letter to your former employer demanding relief at a flat fee rate.</li>
			</ul>
		</div>
	</div>
</div>