<div class="site-contents">
	<div class="wrapper">
		<div class="indicator twenty-first"></div>
		
		<div class="sidebar">
			<div class="directory">
				<%= link_to('', '/practice-areas') %>
			</div>
			<nav>
				<ul>
					<li><%= link_to('Bankruptcy Law', '/practice-areas/bankruptcy-law') %></li>
					<li><%= link_to('Business Law', '/practice-areas/business-law') %></li>
					<li><%= link_to('Civil Litigation, Trials & Appeals', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
					<li><%= link_to('Civil Rights Law', '/practice-areas/civil-rights-law') %></li>
					<li><%= link_to('Class Action Law', '/practice-areas/class-action-law') %></li>
					<li><%= link_to('Collections Law', '/practice-areas/collections-law') %></li>
					<li><%= link_to('Commercial Law', '/practice-areas/commercial-law') %></li>
					<li><%= link_to('Condominium Law', '/practice-areas/condominium-law') %></li>
					<li><%= link_to('Consumer Law', '/practice-areas/consumer-law') %></li>
					<li><%= link_to('Cooperative Housing Law', '/practice-areas/cooperative-housing-law') %></li>
					<li><%= link_to('Corporate, Partnership & LLC Law', '/practice-areas/corporate-partnership-and-llc-law') %></li>
					<li><%= link_to('Credit Union Law', '/practice-areas/credit-union-law') %></li>
				    <li><%= link_to('Criminal Law', '/practice-areas/criminal-law') %></li>
				    <li><%= link_to('Divorce & Domestic Relations Law', '/practice-areas/divorce-and-domestic-relations-law') %></li>
				    <li><%= link_to('Employment & Labor Law', '/practice-areas/employment-and-labor-law') %></li>
				    <li><%= link_to('Equine Law', '/practice-areas/equine-law') %></li>
				    <li><%= link_to('Family Law', '/practice-areas/family-law') %></li>
				    <li><%= link_to('Landlord & Tenant Law', '/practice-areas/landlord-and-tenant-law') %></li>
				    <li><%= link_to('Local Government & Municipal Law', '/practice-areas/local-government-and-municipal-law') %></li>
				    <li><%= link_to('Nonprofit Corporate Law', '/practice-areas/nonprofit-corporate-law') %></li>
				    <li><%= link_to('Personal Injury, Negligence & Malpractice Law', '/practice-areas/personal-injury-negligence-and-malpractice-law') %></li>
				    <li><%= link_to('Probate Law', '/practice-areas/probate-law') %></li>
				    <li><%= link_to('Real Estate Transactions & Litigation', '/practice-areas/real-estate-transactions-and-litigation') %></li>
				    <li><%= link_to('Wills, Trusts & Estate Planning Law', '/practice-areas/wills-trusts-and-estate-planning-law') %></li>
				</ul>
			</nav>
		</div>
		
		<div class="copy">
			<h1>Practice Areas</h1>
			
			<h2>Nonprofit Corporate Law for Churches, Ministries, Service Organizations</br> and Community Foundations</h2>
			
			<h4>Our nonprofit corporate lawyers work with churches, ministries, service organizations and community foundations in a myriad of ways, including:</h4>
			
			<ul class="wide">
				<li>Forming and maintaining corporate entities to provide a corporate shield against liability claims and to take advantage of favorable tax laws. In this regard, we counsel clients on the proper selection of membership or directorship basis, and draft the articles of incorporation and bylaws. We assist with the proper drafting of minutes and preparation of other documents to maintain and preserve the corporate structure against dissolution or attack by creditors.</li>
				<li>Securing the proper approvals from the state and federal authorities for tax benefits to donors and for fund raising. We help our clients through the complexities of the Internal Revenue Code to select and obtain income tax exemptions under section 501(c)(3) or related exemptions. We also provide guidance on securing approvals from the Charitable Trust and Solicitation Division of the Michigan Attorney General's office.</li>
				<li>Obtaining property tax exemption under Michigan property tax laws, including handling appeals before the Michigan Tax Tribunal, negotiating with the local municipalities' assessor, and appearing before the local board of review.</li>
				<li>For churches, we handle internal disputes among members. This includes property and corporate control challenges, and discipline or expulsion of members. It also consists of <%= link_to('representing clients in court.', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
				<li>For all nonprofit entities with employees, we provide counsel on all labor issues, including hiring, discipline and firing decisions, and dealing with civil rights claims. We describe our expertise in the <%= link_to('Employment and Labor Law', '/practice-areas/employment-and-labor-law') %> and <%= link_to('Civil Rights practice areas.', '/practice-areas/civil-rights-law') %></li>
				<li>Where volunteers are utilized, we assist our clients in developing appropriate screening procedures to protect children and others, as well as the client, from the risk of sex offenders or other criminal predators. Should an incident occur, we are there <%= link_to('for the client in court.', '/practice-areas/civil-litigation-trials-and-appeals') %></li>
				<li>Providing counsel on risk management, insurance and related matters to protect the nonprofit from lawsuits.</li>			
			</ul>
		</div>
	</div>
</div>